{% extends "base.html" %}
{% load account socialaccount %}
{% block extra_css %}
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">

{% endblock extra_css %}
{% block content %}
<!--begin section-white -->
    <section class="section-grey p-10">

        <!--begin container-->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                        <div class="detalle-user login-user">

                            <div class="row">
                                <!--begin col-md-12-->
                                <div class="col-md-12 text-center">
                                    <h5 class="section-title">Inicia sesión en Directorio Cacao </h5>
                                </div>
                                <!--end col-md-12-->
                                <div class="col-lg-12">
                                    {% get_providers as socialaccount_providers %}
                                    {% if socialaccount_providers %}
                                        <!-- {% with site.name as site_name %}
                                                Por favor inicie sesion con uno de los siguientes metodos de autenticacion!!.
                                        {%endwith%} -->
                                        <ul class="socialaccount_providers list-inline">
                                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                        </ul>

                                        <div class="or-seperator"><b>O</b></div>


                                        {% include "socialaccount/snippets/login_extra.html" %}

                                        {% else %}
                                        <p>Si aún no ha creado una cuenta, por favor
                                        <a href="{{ signup_url }}">Registrarse</a> primero</p>
                                    {% endif %}
                                </div>
                                <div class="col-lg-12">
                                    <form class="login form-horizontal" method="POST" action="{% url 'account_login' %}">
                                        {% csrf_token %}
                                        {# {{ form.as_p }} #}
                                        {{ form.login }}
                                        {{ form.password }}

                                        <div class="row mb-20">
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <div class="checkbox checkbox-success ">
                                                    {{ form.remember }}
                                                    <label for="id_remember">
                                                        Recordarme
                                                    </label>
                                                </div>
                                            </div>


                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <button class="primaryAction contact-submit btn pull-right"  type="submit">Iniciar sesion</button>
                                            </div>
                                        </div>

                                        {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                        {% endif %}

                                    </form>
                                </div>
                                <div class="col-lg-12">
                                    <div class="reset_and_register">
                                        <p class="text-center">
                                            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">¿Has olvidado tu contraseña?</a>
                                        </p>
                                        <hr>
                                        <div>
                                            <h4 class="text-center"><b>¿No tienes cuenta?</b></h4>

                                            <a class=" contact-submit2 btn" href="{{ signup_url }}">Regístrate en Cadena Cacao</a>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
          </div>
    </section>
    <a data-toggle="modal" href='#myModal'></a>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Explicacion</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Estimado usuario, si usted ya es miembro del Directorio puede continuar el ingreso por medio del usuario y password con que se registró inicialmente. Si desea registrarse por medio de redes sociales, estará creando un nuevo usuario, para el cual deberá solicitar autorización de vinculación al perfil de la organización que desea administrar.
                    </p>
                    <p>
                        Si esta es la primera ocasión en que desea ingresar puede hacerlo, bien por medio de sus redes sociales o través del registro de una cuenta de correo y password.
                    </p>
                    <p>
                        Bienvenido al Directorio del Cacao
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn contact-submit" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block extra_js %}
<script src="static/js/jquery.cookie.js"></script>
<script type="text/javascript">
    $( "#id_login" ).addClass("contact-input white-input").attr("placeholder", "Nombre de usuario*");
    $( "#id_password" ).addClass("contact-input white-input").attr("placeholder", "Contraseña*");
    $('input[type="checkbox"]'). attr("checked", "checked");
    $('#myModal').modal('show');

    // $(document).ready(function() {
    //     if ($.cookie('modal_shown') == null) {
    //         $.cookie('modal_shown', 'yes', { expires: 7, path: '/' });
    //         $('#myModal').modal('show');
    //     }
    // });
</script>
<script src="/static/js/jquery.cookie.js"></script>

{% endblock extra_js %}








