{% extends 'base.html' %}

{% block content %}
	<section class="section-grey small-padding">
        
        <!--begin container-->
        <div class="container detalle-user">
        	
        	<div class="row">

        		<div class="col-xs-12 col-md-8 col-md-offset-2">
        			<h4 class="border-bottom-black">Olvido su contraseña</h4>
        			<form method="POST" id="contact-form">{% csrf_token %}

							
					        <div class="col-xs-12">
					            {{ form.as_p }}
					        </div>
							
					        <div class="col-xs-12 col-sm-12">
						        <input value="Enviar" type="submit" name="Editar" id="submit-button" class="contact-submit pull-right" type="submit">
						    </div>	
						</div>
					</form>
        		</div>
        	</div>
        	
        </div>
    </section>
{% endblock %}
{% block extra_js %}
	<script type="text/javascript">
		$('label').addClass( "input-group-addon " );
		$('#id_email').addClass( "form-control" );
		$('form p').addClass( "input-group group-costum-2" );
		
	</script>
{% endblock extra_js %}