{% extends 'base.html' %}

{% block content %}
    <section>
        <ol class="breadcrumb">
            <li><a href="/accounts/profile/">Perfil de usuario</a></li>
            <li class="active">Resetear contraseña</li>
        </ol>
    </section>
<section class="section-grey small-padding">
        
        <!--begin container-->
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="detalle-user">
                {% if validlink %}
                    <h4 class="border-bottom-black">Cambiar contraseña</h4>
                    <form method="post"  id="contact-form" class="reset-pass">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input value="Cambiar contraseña" type="submit" name="Editar" id="submit-button" class="contact-submit pull-right" type="submit">
                    </form>

                {% else %}          
                    <p>
                      El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó.
                      Solicite un nuevo restablecimiento de contraseña.
                    </p>
                {% endif %}
                </div>
            </div>
          </div>
          
        </div>
    </section>

    

{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $('input[type=password]').addClass( "form-control" );
</script>

{% endblock extra_js %}