{% extends 'base.html' %}

{% block content %}
    <section>
        <ol class="breadcrumb">
            <li><a href="/accounts/profile/">Perfil de usuario</a></li>
            <li class="active">Resetear contraseña</li>
        </ol>
    </section>
	<section class="section-grey small-padding">
        
        <!--begin container-->
        <div class="container">
        	<div class="row">
        		<div class="col-xs-12 col-md-6 col-md-offset-3">
                    <div class="detalle-user">
                        <p>
                            Le enviamos por correo electrónico las instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó.
                                Deberías recibirlos en breve.
                        </p>
                        <p>
                            Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró, y revisa tu carpeta de spam.
                        </p>
                    </div>
            			

        		</div>
        	</div>
        	
        </div>
    </section>
{% endblock %}