{% extends 'base.html' %}

{% block content %}
    <section>
        <ol class="breadcrumb">
            <li><a href="/accounts/profile/">Perfil de usuario</a></li>
            <li class="active">Resetear contraseña</li>
        </ol>
    </section>
<section class="section-grey small-padding">
    <!--begin container-->
    <div class="container">
    	<div class="row">
    		<div class="col-xs-12 col-md-8 col-md-offset-2">
    			<div class="detalle-user">
	    			<h1 class="">Olvido su contraseña</h1>
	    			<form method="POST" id="contact-form">{% csrf_token %}


					        <div class="col-xs-12">
					            {{ form.as_p }}
					        </div>

					        <div class="col-xs-12 col-sm-12">
						        <input value="Enviar" type="submit" name="Editar" id="submit-button" class="contact-submit pull-right" type="submit">
						    </div>
					</form>
				</div>
    		</div>
    	</div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
	<script type="text/javascript">
		$('label').addClass( "input-group-addon " );
		$('#id_email').addClass( "form-control" );
		$('form p').addClass( "input-group group-costum-2" );

	</script>
{% endblock extra_js %}
