{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <section>
        <ol class="breadcrumb">
            <li><a href="/accounts/profile/">Perfil de usuario</a></li>
            <li class="active">Resetear contraseña</li>
        </ol>
    </section>
    <section class="section-grey small-padding">
        <div class="container detalle-user">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <h1>{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" id="contact-form">
                        {% csrf_token %}
                        <div class="col-xs-12">
                            {{ form.as_p }}
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <input type="submit" value="{% trans 'Reset My Password' %}" name="Editar" id="submit-button" class="contact-submit pull-right"/>
                        </div>
                    </form>

                    <p class="pull-right">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $('label').addClass( "input-group-addon " );
        $('#id_email').addClass( "form-control" );
        $('form p').addClass( "input-group group-costum-2" );

    </script>
{% endblock extra_js %}
