{% extends 'base.html' %}

{% block content %}
    <section>
        <ol class="breadcrumb">
            <li><a href="/accounts/profile/">Perfil de usuario</a></li>
            <li class="active">Resetear contraseña</li>
        </ol>
    </section>

  <section class="section-grey small-padding">
        
        <!--begin container-->
        <div class="container detalle-user">
        	<div class="row">
        		<div class="col-xs-12 col-md-8 col-md-offset-2">
        			  <p>
						Su contraseña ha sido configurada. Puede continuar e <a href="/accounts/login/">iniciar sesion</a> ahora.
					  </p>

        		</div>
        	</div>
        	
        </div>
    </section>
{% endblock %}