{% extends "base.html" %}

{% block content %}
<!--begin section-white -->
<section class="section-grey small-padding">
    
    <!--begin container-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="detalle-user login-user">
                    <h4 class="border-bottom-black">Inicio de sesion</h4>
            		<form action="/accounts/login/" method="POST" id="contact-form" class="contact">{% csrf_token %}
                        <div class="row">   
                			<div class="col-sm-12">
                				{{form.username}}
                            </div>
                            <div class="col-sm-12">
                				{{form.password}}				
                            </div>
                            <div class="col-sm-12">
                                <ul class="list-inline">
                                    <li><a href="/password_reset/">Olvidé mi contraseña</a></li>
                                    <li>No esta registrado? <a href="/accounts/register/">Registrarse</a></li>
                                </ul>
                                <input type="submit" name="Login" id="submit-button" class="contact-submit pull-right" value="Iniciar sesión">
                            </div>
                        <p></p>
            			
                        </div>
            		</form>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $( "#id_username" ).addClass("contact-input white-input").attr("placeholder", "Nombre de usuario*");
    $( "#id_password" ).addClass("contact-input white-input").attr("placeholder", "Contraseña*");

</script>
{% endblock extra_js %}