{% extends "base.html" %}
{% load ratings %}
{% load el_pagination_tags %}
{% load thumbnail %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
<style type="text/css">
.star-ratings ul {
    height: 18px !important
}
</style>
<!--begin breadcrumb-wrapper-->
<div class="breadcrumb-wrapper">

    <div class="breadcrumb-wrapper-overlay"></div>

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-xs-6 -->
            <div class="col-xs-6">

                <h2 class="page-title white">Directorio</h2>

            </div>
            <!--end col-xs-6 -->

            <!--begin col-xs-6 -->
            <div class="col-xs-6 text-right">

                <ol class="breadcrumb white">
                  <li><a href="index.html" class="white">Inicio</a></li>
                  <li>Directorio</li>
                </ol>

            </div>
            <!--end col-xs-6 -->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</div>

<!--begin section-white-->
<section class="section-white no-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <div class="panel panel-search">
                   <div class="panel-heading">
                       <ul class="list-inline tab-busca" role="tablist">
                            <li role="presentation" class="{% if '/busqueda/' in request.path %}active{% endif %}">
                                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Búsqueda</a>
                            </li>
                            <li role="presentation" class="{% if request.GET.pais_sede %}active{% endif %}">
                                <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">Búsqueda avanzada</a>
                            </li>
                        </ul>
                   </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane {% if '/busqueda/' in request.path %}active{% endif %}" id="home">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                                        <form id="contact-form" class="contact form-busca" action="/actores/busqueda/" method="GET">
                                            <div class="input-group">
                                                {{search.q}}
                                                <span class="input-group-btn">
                                                    <input value="Buscar" id="submit-button" class="contact-submit" type="submit">
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane {% if request.GET.pais_sede %}active{% endif %}" id="tab">
                                
                                <form id="contact-form" class="contact" action="/actores/" method="get">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="input-group group-costum">
                                                <span class="input-group-addon" id="sizing-addon2">País sede *</span>
                                                {{asd.pais_sede}}

                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group group-costum">
                                                <span class="input-group-addon" id="sizing-addon2">Ámbito de acción</span>
                                                {{asd.ambito_accion}}

                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group group-costum">

                                                <span class="input-group-addon" id="sizing-addon2">Tipo de actor</span>
                                                {{asd.tipo_organizacion}}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group group-costum">
                                                <span class="input-group-addon" id="sizing-addon2">País(es) donde labora</span>
                                                {{asd.paises_labora}}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group group-costum">
                                                <span class="input-group-addon" id="sizing-addon2">Participación en la cadena de valor</span>
                                                {{asd.participacion_cadena}}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group group-costum">
                                                <span class="input-group-addon" id="sizing-addon2">Servicios que brindan</span>
                                                {{asd.servicios}}
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <input value="Consultar" id="submit-button" class="contact-submit" type="submit">
                                        </div>


                                    </div>

                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!--end section-white-->
<section class="section-white small-padding">
    <div class="container">
        <div class="row">
        <!--begin col-md-12-->
            <div class="col-md-10 col-md-offset-1 text-center">
                <h2 class="section-title">Lista de actores</h2>
            </div>
            <!--end col-md-12-->
        </div>
        <div class="list">
            <ul id="myList">
                {# {% paginate 10 page.object_list %} #}
                {% if not page.object_list %}
                    <li class="alert alert-info">
                        <strong>No se encontraron resultados!</strong>
                    </li>
                {% else %}
                {% for result in page.object_list %}

                    {% if result.object.logo %}
                    <li>
                        <div class="box">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="thumb">
                                        <a class="img-thumb" href="{% url "detail-org" result.object.slug %}">
                                            {% thumbnail result.object.logo "210x210" crop='center' format='PNG' as img %}
                                                <img src="/media/{{img}}" alt="img">
                                            {% empty %}
                                                <img src="http://via.placeholder.com/210x210" alt="img">
                                            {% endthumbnail %}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="text-col">
                                        <h5><a href="{% url "detail-org" result.object.slug %}">{{result.object.nombre}}</a></h5>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <ul class="list-inline">
                                                    <li class="">
                                                        <b>Calificación: </b>{% ratings result.object %}


                                                    </li>
                                                    <li class="">
                                                        <i class="icon-calendar"> </i> <b>Actualización: </b>{{result.object.actualizado}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="desc-obj"><b>Descripción de la Organización: </b>{{result.object.objetivo|safe|truncatewords:35}}</div>
                                        <div class="">
                                            <ul class="list-inline">

                                                <li><i class="icon-pin-map"></i><b> País: </b>{{result.object.pais_sede}}</li>
                                                <li>
                                                    {% for red in result.object.redes_set.all %}
                                                        <a href="{{red.url}}" class="
                                                            {% if red.opcion == 'Sitio web' %}
                                                                fa fa-globe
                                                            {% elif red.opcion == 'Facebook' %}
                                                                fa fa-facebook
                                                            {% elif red.opcion == 'Twitter' %}
                                                                fa fa-twitter
                                                            {% elif red.opcion == 'Youtube' %}
                                                                fa fa-youtube
                                                            {% elif red.opcion == 'Google+' %}
                                                                fa fa-google
                                                            {% elif red.opcion == 'Instagram' %}
                                                                fa fa-instagram
                                                            {% elif red.opcion == 'Linkedin' %}
                                                                fa fa-linkedin
                                                            {% elif red.opcion == 'Flickr' %}
                                                                fa fa-flickr
                                                            {% elif red.opcion == 'Pinterest' %}
                                                                fa fa-pinterest
                                                            {% elif red.opcion == 'Vimeo' %}
                                                                fa fa-vimeo
                                                            {% elif red.opcion == 'Otra' %}
                                                                fa fa-link
                                                            {% endif %}" target="_blank"></a>
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="">
                                            <ul class="list-inline">
                                                <li><i class="icon-user"></i><b> Contacto: </b>{{result.object.contacto_1|default:"Sin contacto"}}</li>
                                                <li><i class="icon-email-envelope"></i><b> Correo: </b>{{result.object.correo_1|default:"Sin correo"}}</li>
                                                <li><i class="icon-call-phone"></i><b> Teléfono: </b>{{result.object.telefono_1|default:"Sin teléfono"}}</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li>
                        <div class="box">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="thumb">
                                        <a class="img-thumb" href="{% url "detail-org" result.slug %}">
                                            <img src="/static/images/generica.jpg" alt="img" height="210" width="210">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="text-col p-15">
                                        <h5><a href="{% url "detail-org" result.object.slug %}">{{result.object.nombre}}</a></h5>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <ul class="list-inline">
                                                    <li class="">
                                                        <b>Calificación: </b>{% ratings result.object %}
                                                    </li>
                                                    <li class="">
                                                        <i class="icon-calendar"> </i> <b>Actualización: </b>{{result.object.actualizado}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="desc-obj"><b>Descripción de la Organización: </b>{{result.object.objetivo|safe|truncatewords:35}}</div>
                                        <div class="">
                                            <ul class="list-inline">

                                                <li><i class="icon-pin-map"></i><b> País: </b>{{result.object.pais_sede}}</li>
                                                <li>
                                                    {% for red in result.object.redes_set.all %}
                                                        <a href="{{red.url}}" class="
                                                            {% if red.opcion == 'Sitio web' %}
                                                                fa fa-globe
                                                            {% elif red.opcion == 'Facebook' %}
                                                                fa fa-facebook
                                                            {% elif red.opcion == 'Twitter' %}
                                                                fa fa-twitter
                                                            {% elif red.opcion == 'Youtube' %}
                                                                fa fa-youtube
                                                            {% elif red.opcion == 'Google+' %}
                                                                fa fa-google
                                                            {% elif red.opcion == 'Instagram' %}
                                                                fa fa-instagram
                                                            {% elif red.opcion == 'Linkedin' %}
                                                                fa fa-linkedin
                                                            {% elif red.opcion == 'Flickr' %}
                                                                fa fa-flickr
                                                            {% elif red.opcion == 'Pinterest' %}
                                                                fa fa-pinterest
                                                            {% elif red.opcion == 'Vimeo' %}
                                                                fa fa-vimeo
                                                            {% elif red.opcion == 'Otra' %}
                                                                fa fa-link
                                                            {% endif %}" target="_blank"></a>
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="">
                                            <ul class="list-inline">
                                                <li><i class="icon-user"></i><b> Contacto: </b>{{result.object.contacto_1|default:"Sin contacto"}}</li>
                                                <li><i class="icon-email-envelope"></i><b> Correo: </b>{{result.object.correo_1|default:"Sin correo"}}</li>
                                                <li><i class="icon-call-phone"></i><b> Teléfono: </b>{{result.object.telefono_1|default:"Sin teléfono"}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}


                {% endfor %}
                {% endif %}

            </ul>
        </div>
        <nav class="Page navigation">
            <ul class="pagination pull-right">
                <li>
                    {% if page.has_previous or page.has_next %}

                            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="endless_page_link">{% endif %}{% if page.has_previous %}< </a>{% endif %}
                            <span class="endless_page_current">{{ page.number }} de {{ page.paginator.num_pages }}</span>

                            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="endless_page_link">{% endif %} {% if page.has_next %}> </a>{% endif %}

                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</section>
<!--end section-white-->
{% endblock content %}

{% block extra_js %}

<script src="/static/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    $('#id_paises_labora, #id_tipo_organizacion, #id_participacion_cadena, #id_servicios, #id_intercambio, #id_tipo_actividad').selectpicker({
      style: 'btn-default',
      size: 4,
      liveSearch: 'true',
      title: 'Seleccione'
    });

</script>
<script type="text/javascript">

    $( ".bootstrap-select" ).removeClass( "input-group-btn" );
    $( "#id_pais_sede" ).addClass("form-control");
    $( "#id_ambito_accion" ).addClass("form-control");
    $( "#id_tipo" ).addClass("form-control");
    $( ".form-busca #id_q" ).addClass("form-control");
    $(".form-busca #id_q").val("{{request.GET.q}}");
</script>

{% endblock extra_js %}


