    .socialaccount_providers{
    	text-align: center;
    	margin: 20px 0px;
    }

    .socialaccount_providers .socialaccount_provider{
		border-radius: 50px;
		text-align: center;
		color: white;

    }
    .socialaccount_providers .btn{
    	padding: 10px 30px;
    }
	.socialaccount_providers .google{
		background-color: #dd4b39;
	}

	.socialaccount_providers .google:hover{
		background-color: #be3423;
	}
	.socialaccount_providers .facebook{
		background-color: #3b5998;
	}

	.socialaccount_providers .facebook:hover{
		background-color: #192e59;
	}
	.socialaccount_providers .twitter{
		background-color: #1da1f2;
	}
	.socialaccount_providers .twitter:hover{
		background-color: #1c6ea1;
	}
    .or-seperator {
        margin: 40px 0 15px;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
        padding: 0 10px;
		width: 40px;
		height: 40px;
		font-size: 16px;
		text-align: center;
		line-height: 40px;
		background: #fff;
		display: inline-block;
        border: 1px solid #e0e0e0;
		border-radius: 50%;
        position: relative;
        top: -22px;
        z-index: 1;
    }
    .login-user form label[for="id_password"], .login-user form label[for="id_login"]{
    	display: none;
    }
	.contact-submit{
		background: #c22026;
	    border-color: #c22026;
	    padding: 10px;
	    color: white;
	    border: 2px solid #c22026;
	}
	.contact-submit:hover{
		border: 2px solid #c22026;
    	color: #c22026;
    	background-color: transparent;
	}
	