blacktext = rgba(0, 0, 0, 0.7)
letratext = 'Lato', sans-serif
letratitulo = 'Roboto', sans-serif
colorlink = #d93
negro = #3D3935
verde = #B5BD00

vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -o-{prop} args
    {prop} args

transition()
    vendor('transition', arguments)
border-radius()
    vendor('border-radius', arguments)
box-shadow() 
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments


@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
    font-family: 'Open Sans', sans-serif    

/*MENU*/
.navbar-default
    box-shadow 0 0 7px rgba(0, 0, 0, 0.3)
    border-radius 0px
    .navbar-nav > li > a
        text-transform capitalize
        font-size 17px !important
        font-weight bold
        font-family letratext
        color blacktext
        &.selected
        &:hover
            color colorlink !important
        
#logo
    font-size 18px
    font-family letratitulo 
    font-weight 500
    color blacktext
/*Secciones*/

.section-white-xs
    margin-top 20px
    margin-bottom 20px
.section-grey
    padding 30px 0px
h1, h2, h3, h4, h5, h6
    color blacktext
p a
    color colorlink
.titulo-map
    background negro
    padding 10px
    h4
        color #fff
        margin 0px
        padding 10px 10px
        font-size 20px
        display inline-block
    .btn-map
        display inline-block
        margin-bottom 0px
/*Sponsor*/
.sponsors img.sponsor
    opacity 0.8
    height auto
    width 100%
    &:hover
        opacity 1
.sponsors-padding
    padding 17px 0
    border-top 1px solid rgba(61, 57, 53, 0.5)
/*footer*/
.footer, .top-intro
    background negro
a.top-scroll:hover
    background colorlink
    border-color colorlink
ul.footer_social li a i:hover, .footer p a:hover, ul.footer-list li a:hover
    color colorlink

.btn-blue, .btn-blue:focus, .btn-blue:active, .btn-blue-full, .btn-blue-full:focus, .btn-blue-full:active, input.contact-submit
    background colorlink
    border-color colorlink
    padding 10px
.btn-sm.btn-blue:hover, input.contact-submit:hover
    border-color colorlink
    color colorlink
    cursor pointer
    
.footer-top
    padding 20px 0 0px 0

/*Registro*/
#contact-form
    max-width 100%
select#input
    color #7c8595

/*consulta*/
.group-costum
    padding 5px 0px
    position inherit
    display block
    .input-group-addon
        background negro
        color white
        line-height normal
        border-radius 0px
        border 0px
.border-bottom-black
    border-bottom 1px solid rgba(61,57,53,0.5)
    padding-bottom 10px
.pagination > li > a, .pagination > li > span
    color negro
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
    background-color colorlink
    border-color colorlink
/*Detalle org*/
.obj-org
    margin-bottom 10px
    h5
        margin 5px
.detalle-org .panel-primary
    border-color negro
    .panel-heading
        background-color verde
    .panel-body
        li
            font-size 16px
            color negro
            a
                color colorlink    
.panel-body a.pull-right
    color negro
    font-weight bold
    i
        padding-right 2px
.lista-perfil li
    margin-bottom 20px
    color negro
    font-weight bold
.lista-perfil>li>a
    color negro
    font-size 17px
#ratelabel
    background-color negro
    color white
    font-size 16px
    font-family: 'Lato', sans-serif;
#input-rate
    max-width 60px
    font-size 16px
    font-family: 'Lato', sans-serif;
    min-height 36px 
#rate-btn
    display inline-block
    font-size 16px
    font-family: 'Lato', sans-serif;
    button
        background-color verde
        color white
        border-color verde
        font-size 16px
        font-family: 'Lato', sans-serif;
        &:hover
            background-color white
            color verde
            border-color verde      
/*buscador*/
.buscador
    position: absolute;
    width: 20%;
    z-index: 99;
    right: 0;
    input.contact-input
        border-radius 0px
        .form-control:focus
            box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181, 189, 0, 0.5)
.like-btn
    background-color verde
    border-color verde
    &:hover
        color verde !important
        border-color verde !important
        
/*galeria*/
.popup-gallery:hover img
    opacity 1
.mfp-title
    background-color negro
    text-align center
    padding 10px 0px
    small
        display none !important
.mfp-img-mobile .mfp-bottom-bar
    padding 0px
.no-padding-top
    padding-top 0px
.carousel.carousel1 .carousel-indicators li.active
    background-color colorlink

// .section-image-contact
//     margin 20px 0px
// .section-image-contact
//     background url(../images/portada3.jpg) top center no-repeat
//     background-size cover
// .contact-wrapper
//     background negro
// input.contact-submit
//     background colorlink
//     border-color colorlink
//     &:hover
//         border-color colorlink
//         color colorlink
//         cursor pointer
// .contact-wrapper
//     padding 15px
// h2.section-title
    
// @media (max-width: 768px)
//     .section-image-contact
//         background negro

/**/
.no-padding
    padding 0px
.no-margin
    margin 0px
.no-padding-bottom
    padding-bottom 0
.thumb
    padding 25px 5px
    width 100%
.detalle-org2
    padding 0px 10px
.list-group-item:last-child, .list-group-item:first-child
    border-radius 0px
.org-perfil .panel-primary
    border-color negro
    .panel-heading
        padding 8px 10px 8px 10px
        background-color verde
        border-color verde
        .panel-title
            color negro
        .panel-body
            color negro
.list-group
    color negro
    .list-group-item a
        color colorlink
        font-weight bold