@import 'variables-mixin.styl'
body
    font-family letratext
h2,
h3,
h4,
h5,
h6
    font-family letratitulo
    color cafe
    font-weight 500
p
    line-height 30px
    a
        color rojo
.m-0
    margin 0px
.mb-10
    margin-bottom 10px
.display-inline
    display inline-block
.text-white
    color white
/*MENU*/
.top-intro
    background-color cafe
    ul.header_social li a i
        color white
        border-right-color white
.navbar-default
    box-shadow  0 8px 7px rgba(0, 0, 0, 0.3)
    border-radius 0px
    max-height 100px
    .navbar-nav
        margin-top 27px
    
    .navbar-nav > li > a
    .dropdown-menu li a
        text-transform initial
        font-size 18px !important
        font-weight bold
        font-family letratext
        color blacktext
        padding-top 0px
        padding-bottom 0px

        &.selected
        &:hover
            color rojo !important
    .dropdown-menu li a
        margin 10px
    .navbar-brand
        height auto
        padding 10px
        img
            max-height 80px
        
#logo
    font-size 18px
    font-family letratitulo 
    font-weight 500
    margin-top 0px
    color blacktext
    &:hover
        color rojo !important

/*Secciones*/
.carousel-indicators li.active
    background-color amarillo
.section-white-xs
    margin-top 20px
    margin-bottom 20px
.section-grey
    padding 30px 0px

.mapa-container
    background-color #f5f5f5
    padding 10px
    border-radius 8px
    
/*Noticias*/
.blog-item 
    .popup-wrapper 
        .popup-gallery
            width 100%
            img
                max-height 202px
    .blog-item-inner
        background-color white
    h3.blog-title a
        color cafe
        &:hover
            color rojo
        
/*Sponsor*/
.sponsors img.sponsor
    opacity 0.8
    height auto
    width 90%
    &:hover
        opacity 1
.sponsors-padding
    padding 17px 0
    border-top 1px solid rgba(61, 57, 53, 0.5)
/*footer*/
.footer
    background linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/fondo.jpg')
    background-size cover
    p, a
        color white
    ul.footer-list li
        border-bottom-color white
    ul.footer_social li, ul.footer_social li a i, .footer-bottom p a
        color white
a.top-scroll
    color white !important
    border-color white
    &:hover
        background rojo
        border-color rojo
ul.footer_social li a i:hover, .footer p a:hover, ul.footer-list li a:hover
    color rojo

.btn-blue, .btn-blue:focus, .btn-blue:active, .btn-blue-full, .btn-blue-full:focus, .btn-blue-full:active, input.contact-submit
    background rojo
    border-color rojo
    padding 10px
.btn-sm.btn-blue:hover, input.contact-submit:hover
    border-color rojo
    color rojo
    cursor pointer
    
.footer-top
    padding 20px 0 0px 0
    border-bottom-color white
.form-edit-org .group-costum-2
    width 100%
    
/*Registro*/
#contact-form
    max-width 100%
select#input
    color #7c8595

/*consulta*/

.group-costum
    padding 5px 0px
    position inherit
    display block
    .input-group-addon
        background cafe
        color white
        line-height normal
        border-radius 0px
        border 0px
    select
        color negro !important
        font-size 16px
        font-weight bold
        padding 5px 12px
.group-costum-2
    padding 5px 0px
    position inherit
    .input-group-addon
        background negro
        color white
        line-height normal
        border-radius 0px
        border 0px
.pagination > li > a, .pagination > li > span
    color negro
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
    background-color rojo
    border-color rojo
.form-busca
    input.contact-submit
        margin-top 0px
    input[type="text"]
        height 44px
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
    width 100% !important
.bootstrap-select>.dropdown-toggle
    margin 0px
    padding 5px
.bootstrap-select.btn-group .dropdown-toggle .filter-option
    color negro
.bootstrap-select.btn-group .dropdown-menu li a
    color negro !important
    font-size 16px
.bootstrap-select.btn-group .dropdown-menu li.selected a
    color rojo !important
.form-edit-org
    label
        font-size 16px
        color negro
    input[type=file]
        display inline-block
.detalle-user
    background-color white
    padding 20px
.reset-pass, .registro-user
    ul
        list-style square
        padding-left 40px
    ul.errorlist
        list-style none
        padding 0
        color red
        li
            padding-left: 1.3em
            &:before
                content 'X'
                font-weight bold
                display inline-block
                margin-left -1.3em
                width 1em
                font-size 17px
.login-user
    margin-bottom 0
    a 
        color rojo
.modal-footer .btn + .btn
    margin-bottom 10px
.text-col 
    .list-inline
        min-height 26px
        margin-top 5px
        &:last-child
            margin-bottom 5px
        li
            color #444
            b, i
                color negro
                
#myList .box 
    background-color #f8f9fb
    margin 0 0 10px 0
    border 1px solid #e9eef5
    .text-col
        h5 a
            color rojo
        b
        li i
            color cafe
/*Detalle org*/
.obj-org
    margin-bottom 10px
    h5
        margin 5px
.detalle-org .panel-primary, .detalle-user .panel-primary 
    border-color negro
    .panel-heading
        background-color verde
        border-color transparent
        .list-inline > li > a
            color negro
            font-weight bold
    .panel-body
        li
            font-size 16px
            color negro
            a
                color rojo    
.panel-body a.pull-right
    color negro
    font-weight bold
    i
        padding-right 2px
.lista-perfil li
    margin-bottom 20px
    color negro
    font-weight bold
.lista-perfil>li>a
    color negro
    font-size 17px
#ratelabel
    background-color negro
    color white
    font-size 16px
    font-family letratext
#input-rate
    max-width 60px
    font-size 16px
    font-family letratext
    min-height 36px 
#rate-btn
    display inline-block
    font-size 16px
    font-family letratext
    button
        background-color verde
        color white
        border-color verde
        font-size 16px
        font-family letratext
        &:hover
            background-color white
            color verde
            border-color verde      
/*buscador*/
.panel-search
    position relative
    margin-top -100px
    box-shadow  0 8px 7px rgba(0, 0, 0, 0.3)
    background-color transparent
    .panel-heading
        background-color naranja
        padding 10px
        font-weight bold
        font-family letratitulo
        color white
        font-size 17px
    .panel-body
        background-color #F8F9FB 

.tab-busca
    margin 0
    li a
        font-size 17px
        font-family letratext
        font-weight bold
        color rgba(255, 255, 255, .5)
        &:before
            content ''
            content ''
            width 13px
            height 13px
            display inline-block
            border-radius 20px
            line-height 17px
            margin 0px 10px
            background-color rgba(255, 255, 255, .5)
    li.active a
        color white
        &:before
            content ''
            content ''
            width 13px
            height 13px
            background-color white
            display inline-block
            border-radius 20px
            line-height 17px
            margin 0px 10px
            border 3px solid white
            background-color cafe


.buscador
    position: absolute;
    width: 20%;
    z-index: 99;
    right: 0;
    input.contact-input
        border-radius 0px
        .form-control:focus
            box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181, 189, 0, 0.5)
.like-btn
    background-color verde
    border-color verde
    &:hover
        color verde !important
        border-color verde !important


.endless_page_current
    background-color verde !important
    color white !important
.detalle-org .panel-primary .panel-body li a, .detalle-user .panel-primary .panel-body .pagination  li a
    color negro
/*galeria*/
.popup-gallery:hover img
    opacity 1
.mfp-title
    background-color negro
    text-align center
    padding 10px 0px
    small
        display none !important
.mfp-img-mobile .mfp-bottom-bar
    padding 0px
.no-padding-top
    padding-top 0px
.carousel.carousel1 .carousel-indicators li.active
    background-color rojo


@media (max-width : 480px)
    .lista-perfil .pull-right
        float left !important
/*****/
.no-padding
    padding 0px
.no-margin
    margin 0px
.no-padding-bottom
    padding-bottom 0
.p-10
    padding 10px
.p-15
    padding 15px
.thumb
    padding 10px 5px
    width 100%
.detalle-org2
    padding 0px 10px
.list-group-item:last-child, .list-group-item:first-child
    border-radius 0px
.org-perfil .panel-primary
    border-color negro
    .panel-heading
        padding 8px 10px 8px 10px
        background-color verde
        border-color verde
        .panel-title
            color white
        .panel-body
            color negro
.list-group
    color negro
    .list-group-item a
        color rojo
        font-weight bold
.list-group .list-group-item a.fa
    color white
.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
/*=============================================
Responsive
=============================================*/
@media (max-width: 576px){}
    

// Medium devices (tablets, 768px and up)
@media (max-width: 768px)
    .panel-search
        margin-top 30px

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
