{% extends "base.html" %}
{% load ratings %}
{% load el_pagination_tags %}
{% load thumbnail %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
{% endblock extra_css %}
{% block content %}
 <!--begin section-white -->
<section class="section-white small-padding">
    
    <!--begin container-->
    <div class="container">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="list-inline border-bottom-black tab-busca" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Búsqueda</a>
                </li>
                <li>|</li>
                <li role="presentation">
                    <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">Búsqueda avanzada</a>
                </li>
            </ul>
            
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <form id="contact-form" class="contact form-busca" action="/actores/" method="GET">
                            <div class="input-group">
                                {{search.q}}
                                <span class="input-group-btn">
                                    <input value="Buscar" id="submit-button" class="contact-submit" type="submit">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
            <div role="tabpanel" class="tab-pane" id="tab">
                <!--begin contact form -->
                <form id="contact-form" class="contact" action="." method="post">{% csrf_token %}
                    <!--begin row-->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group group-costum">
                                <span class="input-group-addon" id="sizing-addon2">País sede</span>
                                {{form.pais_sede}}

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group group-costum">
                                <span class="input-group-addon" id="sizing-addon2">Ámbito de acción</span>
                                {{form.ambito_accion}}

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group group-costum">
                                <span class="input-group-addon" id="sizing-addon2">Tipo de organización *</span>
                                {{form.tipo_organizacion}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group group-costum">
                                <span class="input-group-addon" id="sizing-addon2">País(es) donde labora *</span>
                                {{form.paises_labora}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group group-costum">
                                <span class="input-group-addon" id="sizing-addon2">Participación en la cadena de valor *</span>
                                {{form.participacion_cadena}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group group-costum">
                                <span class="input-group-addon" id="sizing-addon2">Servicios a la cadena de valor *</span>
                                {{form.servicios}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group group-costum">
                                <span class="input-group-addon" id="sizing-addon2">Intercambio de tecnologías *</span>
                                {{form.intercambio}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group group-costum">
                                <span class="input-group-addon" id="sizing-addon2">Tipo</span>
                                {{form.tipo}}

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group group-costum">
                                <span class="input-group-addon" id="sizing-addon2">Tipo de actividad</span>
                                {{form.tipo_actividad}}

                            </div>
                        </div>
                        

                        <div class="col-sm-4">
                            <input value="Consultar" id="submit-button" class="contact-submit" type="submit">
                        </div>

                        
                    </div>
                    <!--end row-->
                </form>
                <!--end contact form --> 
            </div>
        </div>
                  
       

    </div>
    <!--end container-->

</section>
<!--end section-white-->
<section class="section-grey">
    <div class="container">
        <h4 class="border-bottom-black">Lista de organizaciones</h4>
        <div class="list">
            <ul id="myList">
                {% paginate 10 object_list %}
                {% if not object_list %}
                    <li>No se encontraron resultados</li>
                {% else %}
                {% for obj in object_list %}
                    <li>
                    <div class="box">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <div class="thumb">
                                    <a class="img-thumb" href="{% url "detail-org" obj.slug %}">
                                        {% thumbnail obj.logo "210x210" crop='center' format='PNG' as img %}
                                            <img src="/media/{{img}}" alt="img">
                                        {% empty %}
                                            <img src="http://via.placeholder.com/210x210" alt="img">
                                        {% endthumbnail %}
                                        <span class="helper"></span>
                                        <!-- <img src="/media/{{obj.logo}}" alt="img"> -->
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <div class="text-col">
                                    <h5><a href="{% url "detail-org" obj.slug %}">{{obj.nombre}}</a></h5>
                                    <a class="text"><i class="icon-pin-map"></i>País: {{obj.pais_sede}} - Labora: {% for pais in obj.paises_labora.all %}{{pais}}{% if not forloop.last %}, {% endif %}{% endfor %}</a>
                                    <a class="text"><i class="icon-pin-map"></i>Ámbito de acción: {{obj.ambito_accion}}</a>
                                     
                                    <a class="text"><i class="icon-calendar"> </i>Actualización: {{obj.actualizado}} </a>

                                    <div class="clearfix"></div>
                                    <br>

                                    <a href="#" class="text"><i class="icon-user"></i>
                                        Contacto: {{obj.contacto_1}}
                                    </a>
                                    <a href="#" class="text"><i class="icon-email-envelope"></i>
                                       {{obj.correo_1}}
                                    </a>  
                                    <a href="#" class="text"><i class="icon-call-phone"></i>
                                        {{obj.telefono_1}}
                                    </a>
                                    <div class="clearfix"></div>
                                    <br>
                                    <a class="text"><i class="icon-star-two"> </i>Calificación: </a>
                                    {% ratings obj %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
                {% endif %}
                                               
            </ul>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination pull-right">
                {% show_pages %}
                <!--<li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>-->
            </ul>
        </nav>
    </div>
</section>
<!--end section-white-->
{% endblock content %}

{% block extra_js %}

<script src="/static/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    $('#id_paises_labora, #id_tipo_organizacion, #id_participacion_cadena, #id_servicios, #id_intercambio, #id_tipo_actividad').selectpicker({
      style: 'btn-default',
      size: 4,
      liveSearch: 'true',
      title: 'Seleccione'
    });

</script>
<script type="text/javascript">
    
    $( ".bootstrap-select" ).removeClass( "input-group-btn" );
    $( "#id_pais_sede" ).addClass("form-control");
    $( "#id_ambito_accion" ).addClass("form-control");
    $( "#id_tipo" ).addClass("form-control");
    $( "#id_tipo_actividad" ).addClass("form-control");
    $( ".form-busca #id_q" ).addClass("form-control");
    {% if search_text %}
        $(".form-busca #id_q").val("{{search_text}}");
    {% endif %} 

</script>

{% endblock extra_js %}


