{% extends "base.html" %}
{% load el_pagination_tags static %}
{% block content %}
</style>
	<section>
		<ol class="breadcrumb">
			<li class="active">Crear Correo</li>
		</ol>
    </section>
    
    <section class="section-grey small-padding">

        <!--begin container-->
        <div class="container ">


        	<div class="row">
        		<div class="col-xs-12 col-sm-12 col-lg-offset-2 col-md-8">
        			<div class="panel panel-perfil ">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Formulario de Correo
                            </h3>
		                    
		                </div>
                        <div class="panel-body no-padding bg-white p-15">
                            <div class="row">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <div class="alert alert-success" role="alert">Su mensaje ha sido enviado correctamente!!!
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                            <form action="." method="POST" enctype="multipart/form-data"> {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <span class="fieldWrapper">
                                                {{ key }}:{{ value }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                <div class="col-lg-6 mb-20">
                                    <label for="organizacion">País:</label>
                                    {{form.pais}}                                    
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <label for="organizacion">Tipo organización:</label>
                                    {{form.tipo_organizacion}}
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <label for="organizacion">Participación cadena:</label>
                                    {{form.participacion_cadena}}                                      
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <label for="organizacion">Destinatarios</label>
                                    {{form.organizacion}}
                                </div>
                                <div class="col-lg-12 mb-20">
                                    <label for="organizacion">Asunto</label>
                                    {{form.asunto}}
                                </div>
                                <div class="col-lg-12 mb-20">
                                    <label for="organizacion">Mensaje</label>
                                    {{form.contenido}}
                                   
                                </div>
                                <div class="col-lg-12">
                                    <input type="submit" name="Enviar Mensaje" class="btn btn-success" value="Enviar Mensaje">
                                </div>
                             </form>
                            </div>
                        </div>
		        	</div>
        		</div>

        	</div>

        </div>
    </section>
{% endblock content %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/css/toastr.min.css">
{% endblock extra_css %}
{% block extra_js %}
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {

        $('.prueba').selectpicker({
            style: 'btn-default',
            size: 4,
            liveSearch: 'true',
            title: 'Seleccione',
            selectedTextFormat: 'count',
            countSelectedText: '{0} seleccionados',
        });

    });




</script>
{% endblock extra_js %}