{% extends "base.html" %}
{% load static %}

{% block extra_css %}

 <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
{% endblock extra_css %}

{% block content %}
<style>
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    border:0px !important;
}
.panelink {
    background: rgba(0,174,104, 0.2)!important;255,163,0
}
.panelredes {
    background: rgba(255,163,0, 0.2)!important;
}
.panelsevicio {
    background: rgba(129,97,60, 0.2)!important;
}
input.contact-submit  {
    background: #34882a;
    border-color: #296d1d;
    padding: 10px;
}
</style>
<section>
    <ol class="breadcrumb">
        <li><a href="/accounts/profile/">Perfil de usuario</a></li>
        <li class="active">Crear Organización</li>
    </ol>
</section>
<section class="section-grey small-padding">

        <!--begin container-->
        <div class="container detalle-user">

            <div class="row">

                <div class="col-xs-12 col-md-12">
                    <h4 class="border-bottom-black">Crear perfil de la organización</h4>
                    <p>Campos con (*) son requeridos</p>
                    {% if form.errors %}
                        <ul class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>
                                  {% if field != '__all__' %}
                                    <strong>{{ field.label }} </strong>
                                  {% endif %}
                                  {{ error }}
                                </li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    {% endif %}

                    <form action="." method="POST" id="contact-form" class="contact form-edit-org" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.media }}

                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="input-group group-costum-2">
                                    <span class="input-group-addon " id="sizing-addon2">Nombre*</span>
                                    {{ form.nombre }}

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">

                                    <h5 class="border-bottom-black">Logo</h5>

                                    {{ form.logo }}
                                    <br>
                                    <br>
                                    <p>Nota: {{form.logo.help_text}}    </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h5 class="border-bottom-black">Descripción de la Organización*</h5>
                                {{ form.objetivo }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">

                                    <h5 class="border-bottom-black">Información de contacto 1</h5>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="input-group group-costum-2">
                                                <span class="input-group-addon " id="sizing-addon2">Nombre</span>
                                                {{ form.contacto_1 }}

                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="input-group group-costum-2">
                                                <span class="input-group-addon " id="sizing-addon2">Correo</span>
                                                {{ form.correo_1 }}

                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="input-group group-costum-2">
                                                <span class="input-group-addon " id="sizing-addon2">Teléfono</span>
                                                {{ form.telefono_1 }}

                                            </div>

                                        </div>
                                    </div>


                            </div>
                            <div class="col-xs-12 col-sm-6">

                                    <h5 class="border-bottom-black">Información de contacto 2</h5>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="input-group group-costum-2">
                                                <span class="input-group-addon " id="sizing-addon2">Nombre</span>
                                                {{ form.contacto_2 }}

                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="input-group group-costum-2">
                                                <span class="input-group-addon " id="sizing-addon2">Correo</span>
                                                {{ form.correo_2 }}

                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="input-group group-costum-2">
                                                <span class="input-group-addon " id="sizing-addon2">Teléfono</span>
                                                {{ form.telefono_2 }}

                                            </div>

                                        </div>
                                    </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h5 class="border-bottom-black">Ubicación</h5>
                            </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="input-group group-costum-2">
                                        <span class="input-group-addon " id="sizing-addon2">País sede*</span>
                                        {{ form.pais_sede }}

                                    </div>
                                    <div class="input-group group-costum-2">
                                        <label class="label" for="">Dirección</label>

                                        {{ form.ciudad }}

                                    </div>
                                    <div class="input-group group-costum-2">
                                        <label class="label" for="">Ubicación</label>

                                        {{ form.location }}

                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h5 class="border-bottom-black">Detalles</h5>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="input-group group-costum-2">
                                    <span class="input-group-addon " id="sizing-addon2">Tipo organización*</span>
                                    {{ form.tipo_organizacion }}

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="input-group group-costum-2">
                                    <span class="input-group-addon " id="sizing-addon2">Tipo actividad*</span>
                                    {{ form.tipo_actividad }}

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="input-group group-costum-2">
                                    <span class="input-group-addon " id="sizing-addon2">Participación cadena*</span>
                                    {{ form.participacion_cadena }}

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="input-group group-costum-2">
                                    <span class="input-group-addon " id="sizing-addon2">Servicios que brinda*</span>
                                    {{ form.servicios }}

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="input-group group-costum-2">
                                    <span class="input-group-addon " id="sizing-addon2">Ámbito acción*</span>
                                    {{ form.ambito_accion }}

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="input-group group-costum-2">
                                    <span class="input-group-addon " id="sizing-addon2">Países donde labora*</span>
                                    {{ form.paises_labora }}

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6" id="miembros">
                                <div class="input-group group-costum-2">
                                    <span class="input-group-addon " id="sizing-addon2">N° de Miembros/Socios</span>
                                    {{ form.miembros }}

                                </div>
                            </div>
                            <!--<div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="input-group group-costum-2">
                                    <span class="input-group-addon " id="sizing-addon2">Tamaño</span>
                                    {{ form.tamano }}

                                </div>
                            </div>-->
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 panelink">
                                <h5 class="border-bottom-black">Links de Videos</h5>
                                    {{ formset3.management_form }}
                                    <div id="form_set">
                                        {% for form in formset3.forms %}
                                            {{form.non_field_errors}}
                                            {{form.errors}}
                                            <table class='no_error'>
                                                {{ form }}
                                            </table>
                                        {% endfor %}
                                    </div>
                                <input type="button" value="Añadir más" id="add_more">
                                <div id="empty_form" style="display:none">
                                    <table class='no_error'>
                                        {{ formset3.empty_form }}
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 panelredes">
                                <h5 class="border-bottom-black">Redes</h5>
                                {{ formset2.management_form }}
                                <div id="form_set2">
                                    {% for form in formset2.forms %}
                                        {{form.non_field_errors}}
                                        {{form.errors}}
                                        <table class='no_error'>
                                            {{ form }}
                                        </table>
                                    {% endfor %}
                                </div>
                                <input type="button" value="Añadir más" id="add_more2">
                                <div id="empty_form2" style="display:none">
                                    <table class='no_error'>
                                        {{ formset2.empty_form }}
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 panelsevicio">
                                <h5 class="border-bottom-black">Productos/Servicios</h5>
                                {{ formset1.management_form }}
                                <div id="form_set3">
                                    {% for form in formset1.forms %}
                                        {{form.non_field_errors}}
                                        {{form.errors}}
                                        <table class='no_error'>
                                            {{ form }}
                                        </table>
                                    {% endfor %}
                                </div>
                                <input type="button" value="Añadir más" id="add_more3">
                                <div id="empty_form3" style="display:none">
                                    <table class='no_error'>
                                        {{ formset1.empty_form }}
                                    </table>
                                </div>
                            </div>
                        </div>



                        <input type="submit" name="Editar" class="contact-submit pull-right" value="Guardar">
                    </form>
                </div>
            </div>

        </div>
    </section>



{% endblock content %}

{% block extra_js %}
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/django-inline-form.js"></script>
<script src="/static/location_field/leaflet.js"></script>

<script type="text/javascript">
    $('#add_more').click(function() {
    var form_idx = $('#id_linkvideos_set-TOTAL_FORMS').val();
    $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    $('#id_linkvideos_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>

<script type="text/javascript">
    $('#add_more2').click(function() {
    var form_idx = $('#id_redes_set-TOTAL_FORMS').val();
    $('#form_set2').append($('#empty_form2').html().replace(/__prefix__/g, form_idx));
    $('#id_redes_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>

<script type="text/javascript">
    $('#add_more3').click(function() {
    var form_idx = $('#id_productosservicios_set-TOTAL_FORMS').val();
    $('#form_set3').append($('#empty_form3').html().replace(/__prefix__/g, form_idx));
    $('#id_productosservicios_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>

<script type="text/javascript">
    $('#id_participacion_cadena, #id_servicios, #id_paises_labora,#id_intercambio,#id_tipo_actividad').selectpicker({
      style: 'btn-default',
      size: 4,
      liveSearch: 'true',
      title: 'Seleccione',
      selectedTextFormat: 'count',
      countSelectedText: '{0} seleccionados',
    });

</script>
<script type="text/javascript">
    $('input[type=text]').addClass( "form-control" );
    $('input[type=email]').addClass( "form-control" );
    $('input[type=url]').addClass( "form-control" );
    $('input[type=number]').addClass( "form-control" );
    $('select:not([multiple])').addClass( "form-control" );
    $('textarea').addClass( "form-control" );
    $('.bootstrap-select').addClass( "form-control" );

    val1 = $('#id_tipo_organizacion').val();
    if(val1 == 'Asociacion' || val1 == 'Cooperativa'){
        $('#miembros').show();
    }else{
        $('#miembros').hide();
    }
    $(document).on('change','#id_tipo_organizacion',function(){
        val = $('#id_tipo_organizacion').val();
        if(val == 'Asociacion' || val == 'Cooperativa'){
            $('#miembros').show();
        }else{
            $('#miembros').hide();
        }
    });

</script>

<script type="text/javascript">
  $('.errorlist').addClass('alert alert-warning');
  $('table').addClass('table');
  $('#add_more, #add_more2, #add_more3').addClass('btn btn-sm btn-danger');
</script>

{% endblock extra_js %}
