{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
{% endblock extra_css %}

{% block content %}
<section class="section-grey small-padding">

        <!--begin container-->
        <div class="container detalle-user">

            <div class="row">

                <div class="col-xs-12 col-md-12">
                    <h4 class="border-bottom-black">Editar Permisos de la organización</h4>
                    <p>Campos con (*) son requeridos</p>
                    {% if form.errors %}
                        <ul class="alert alert-warning" role="alert">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>
                                  {% if field != '__all__' %}
                                    <strong>{{ field.label }}:</strong>
                                  {% endif %}
                                  {{ error }}
                                </li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    {% endif %}

                    <form action="." method="POST" id="contact-form" class="contact form-edit-org" enctype="multipart/form-data">{% csrf_token %}

                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="input-group group-costum-2">
                                    <span class="input-group-addon " id="sizing-addon2">Nombre*</span>
                                    {{ form.nombre }}

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="input-group group-costum-2">
                                    <span class="input-group-addon " id="sizing-addon2">Usuarios*</span>
                                    {{ form.usuario }}

                                </div>
                            </div>
                        </div>
                        <input type="submit" name="Editar" class="contact-submit" value="Actualizar permisos">
                    </form>
                </div>
            </div>

        </div>
    </section>


{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script type="text/javascript">
    $("#id_nombre").prop("readonly", true);
    $('#id_usuario').select2();

</script>
{% endblock extra_js %}
