{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
{% endblock extra_css %}

{% block content %}
    <section>
        <ol class="breadcrumb">
            <li><a href="/accounts/profile/">Perfil de usuario</a></li>
            <li class="active">Editar permisos</li>
        </ol>
    </section>
<section class="section-grey small-padding">

        <!--begin container-->
        <div class="container ">

            <div class="row">

                <div class="col-md-offset-2 col-md-8 detalle-user">
                    <h1 class="">Editar permiso </h1>
                    <h5>Le desea otorgar permiso al usuario: <strong>{{usuario}}</strong> sobre el perfil de la Organización <strong>{{organizacion}}</strong>?</h5>
                    <p> </p>

                    <div>
                        <input type="hidden" id="permisito" value="SI">
                        <input onclick="setGetParameter()" type="button" class="btn btn-success" value = "Agregar permiso"/>
                        <a href="/accounts/profile" class="btn btn-danger">No</a>
                    </div>


                    <script>

                    function setGetParameter(){
                        var search_word = $("#permisito").val();
                        $.ajax({
                          type: "POST",
                          url: "{% url 'editar-permisos-user' usuario.id organizacion.id %}",
                          data: {
                            'data': search_word,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                          success: function(result){
                            alert("Permiso Otorgado");
                            window.location = "/accounts/profile";
                          }
                        });
                    }
                    </script>
                </div>
            </div>

        </div>
    </section>


{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script type="text/javascript">
    $("#id_nombre").prop("readonly", true);
    $('#id_usuario').select2();

</script>
{% endblock extra_js %}
