{% extends "base.html" %}
{% block extra_css %}

    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
{% endblock extra_css %}
{% block content %}
<section class="section-white small-padding">
        
        <!--begin container-->
        <div class="container detalle-user">
        	
        	<div class="row">

        		<div class="col-xs-12 col-md-12">
        			<h4 class="border-bottom-black">Editar perfil de la organnización</h4>
        			<form action="." method="POST" id="contact-form" class="contact form-edit-org" enctype="multipart/form-data">{% csrf_token %}
						{{ form.media }}
						<div class="row">
					        <div class="col-xs-12 col-sm-6">
					            <div class="input-group group-costum-2">
					                <span class="input-group-addon " id="sizing-addon2">Nombre</span>
									{{ form.nombre }}

								</div>
					        </div>
					        <div class="col-xs-12 col-sm-6">
					            <div class="input-group group-costum-2">
					                <span class="input-group-addon " id="sizing-addon2">Tipo</span>
									{{ form.tipo }}

								</div>
					        </div>
					    </div>
					    <div class="row">
							<div class="col-xs-12 col-sm-6">
					          
					            	<h5 class="border-bottom-black">Logo</h5>
					                
									{{ form.logo }}
					        </div>
					        <div class="col-xs-12 col-sm-6">
					        	<h5 class="border-bottom-black">Objetivo</h5>
								{{ form.objetivo }}
					        </div>
					    </div>
					    <div class="row">
					        <div class="col-xs-12 col-sm-6">
					          
					            	<h5 class="border-bottom-black">Información de contacto 1</h5>
					            	<div class="row">
					            		<div class="col-xs-12 col-sm-6">
					            			<div class="input-group group-costum-2">
								                <span class="input-group-addon " id="sizing-addon2">Nombre</span>
												{{ form.contacto_1 }}

											</div>
					            			
					            		</div>
					            		<div class="col-xs-12 col-sm-6">
					            			<div class="input-group group-costum-2">
								                <span class="input-group-addon " id="sizing-addon2">Correo</span>
												{{ form.correo_1 }}

											</div>
					            			
					            		</div>
					            		<div class="col-xs-12 col-sm-6">
					            			<div class="input-group group-costum-2">
								                <span class="input-group-addon " id="sizing-addon2">Teléfono</span>
												{{ form.telefono_1 }}

											</div>
					            			
					            		</div>
					            	</div>
					                
									
					        </div>
					        <div class="col-xs-12 col-sm-6">
					          
					            	<h5 class="border-bottom-black">Información de contacto 2</h5>
					            	<div class="row">
					            		<div class="col-xs-12 col-sm-6">
					            			<div class="input-group group-costum-2">
								                <span class="input-group-addon " id="sizing-addon2">Nombre</span>
												{{ form.contacto_2 }}

											</div>
					            			
					            		</div>
					            		<div class="col-xs-12 col-sm-6">
					            			<div class="input-group group-costum-2">
								                <span class="input-group-addon " id="sizing-addon2">Correo</span>
												{{ form.correo_2 }}

											</div>
					            			
					            		</div>
					            		<div class="col-xs-12 col-sm-6">
					            			<div class="input-group group-costum-2">
								                <span class="input-group-addon " id="sizing-addon2">Teléfono</span>
												{{ form.telefono_2 }}

											</div>
					            			
					            		</div>
					            	</div>
					                
									
					        </div>
					    </div>
					    <div class="row">
					    	<div class="col-xs-12 col-sm-12">
					    		<h5 class="border-bottom-black">Ubicación</h5>
					    	</div>
					    	<div class="col-xs-12 col-sm-6">
					    		<div class="input-group group-costum-2">
					                <span class="input-group-addon " id="sizing-addon2">País sede</span>
									{{ form.pais_sede }}

								</div>
					    	</div>
					    	<div class="col-xs-12 col-sm-6">
					    		<div class="input-group group-costum-2">
					                <span class="input-group-addon " id="sizing-addon2">Ciudad</span>
									{{ form.ciudad }}

								</div>
					    	</div>
					    	<div class="col-xs-12 col-sm-12">
					    		<div class="input-group group-costum-2">
					                <label class="label" for="">Location</label>
									{{ form.location }}

								</div>
					    	</div>
					    </div>
					    <div class="row">
					    	<div class="col-xs-12 col-sm-12">
					    		<h5 class="border-bottom-black">Detalles</h5>
					    	</div>
					    	<div class="col-xs-12 col-sm-6">
					    		<div class="input-group group-costum-2">
					                <span class="input-group-addon " id="sizing-addon2">Tipo organización</span>
									{{ form.tipo_organizacion }}

								</div>
					    	</div>
					    	<div class="col-xs-12 col-sm-6">
					    		<div class="input-group group-costum-2">
					                <span class="input-group-addon " id="sizing-addon2">Tipo actividad</span>
									{{ form.tipo_actividad }}

								</div>
					    	</div>
					    	<div class="col-xs-12 col-sm-6">
					    		<div class="input-group group-costum-2">
					                <span class="input-group-addon " id="sizing-addon2">Participacion cadena</span>
									{{ form.participacion_cadena }}

								</div>
					    	</div>
					    	<div class="col-xs-12 col-sm-6">
					    		<div class="input-group group-costum-2">
					                <span class="input-group-addon " id="sizing-addon2">Servicios</span>
									{{ form.servicios }}

								</div>
					    	</div>
					    </div>
						

						<h3>Productos/Servicios</h3>
						{{ formset.as_p }}
						<input type="submit" name="Editar" value="Actualizar">
					</form>
        		</div>
        	</div>
        	
        </div>
    </section>


	
{% endblock content %}

{% block extra_js %}
<script src="/static/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    $('#id_participacion_cadena, #id_servicios').selectpicker({
      style: 'btn-default',
      size: 4,
      liveSearch: 'true',
      title: 'Seleccione'
    });

</script>
<script type="text/javascript">
	$('input[type=text]').addClass( "form-control" );
	$('input[type=email]').addClass( "form-control" );
	$('select:not([multiple])').addClass( "form-control" );
	$('textarea').addClass( "form-control" );
	
	
</script>

{% endblock extra_js %}