<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Latest compiled and minified CSS -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="../static_media/css/style.css">

</head>
<body>
	<style>
		body{
			font-family: 'Open Sans', sans-serif;
		}
	</style>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Cadenas de valor del cacao | Actores</a>
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Consulta</a></li>
					<li><a href="#">Registrarse</a></li>
					<li><a href="#">Admin</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	<div class="container">
		<section class="info-programa">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<p>
						El Programa Agroalimentario Sostenible financiado por la Agencia de los Estados Unidos para el Desarrollo Internacional (USAID) e implementado por la Unidad Regional para el Desarrollo Rural Sostenible (RUTA) del Consejo Agropecuario Centroamericano (CAC), pone a su disposición esta herramienta web donde encontrará información sobre actores de las cadenas de cacao y su quehacer.
					</p>
					<p>
						Esta sección presenta un mapeo de actores involucrados en las cadenas de valor del cacao principalmente de Centroamérica y República Dominicana, pero también de otros países del resto del mundo. Estos actores son organizaciones e instituciones que bien participan como protagonistas principales en la cadena, o bien proporcionan servicios de apoyo a lo largo de la cadena.
					</p>
					<p>
						La consulta de información puede ser una búsqueda libre con palabras clave a través de la ventana que se encuentra en la esquina superior derecha de la pantalla; o bien a través de una búsqueda avanzada, la cual le da opción de realizar filtros de acuerdo a las características que a usted le interesan. Para cada actor encontrará una ficha que le proporciona información sobre su accionar con relación a la cadena de valor del cacao; así como sus datos de contacto.
					</p>
					<p>
						Esta herramienta se considera un instrumento de trabajo, gracias a la cual se facilita la comunicación e interacción entre las organizaciones e instituciones mejorando su encadenamiento a nivel nacional, regional e internacional.
					</p>




	
				</div>
			</div>
					
		</section>
		<section class="info-studio">
			<h2>Estudios Cadena de Valor de Cacao en Centroamérica | tecnologías</h2>
			<div class="content">
		    	<p>
		    		El <strong>Programa Agroalimentario Sostenible</strong> produjo una serie de estudios en relación al uso de tecnologías sostenibles en las cadenas de valor del cacao de El Salvador, Guatemala, Honduras y Nicaragua, así como acerca de la oferta de tecnologías a nivel mundial.
		    	</p>
				<p>
					Dado que se trata de información complementaria interesante a la provista por este buscador de actores de las cadenas del cacao de los países centroamericanos, ponemos a tu disposición los accesos directos a estos documentos, almacenados en nuestro <a href="http://cadenacacaoca.info/estudios-cacao/CEDOC/">Centro de Documentación:</a>
				</p>
				<p>
					- Uso actual y oferta de tecnologías sostenibles en las cadenas de valor del cacao en El Salvador para mejorar la seguridad alimentaria. <a href="http://cadenacacaoca.info/estudios-cacao/CEDOC/ficha.php?id=1563&amp;lang=es">Informe nacional | El Salvador</a>
				</p>
				<p>
					- Uso actual y oferta de tecnologías sostenibles en las cadenas de valor del cacao en Guatemala para mejorar la seguridad alimentaria. <a href="http://cadenacacaoca.info/estudios-cacao/CEDOC/ficha.php?id=1577&amp;lang=es">Informe nacional | Guatemala</a>
				</p>
				<p>
					- Uso actual y oferta de tecnologías sostenibles en las cadenas de valor del cacao en Honduras para mejorar la seguridad alimentaria. <a href="http://cadenacacaoca.info/estudios-cacao/CEDOC/ficha.php?id=1578&amp;lang=es">Informe nacional | Honduras</a>
				</p>
				<p>
					- Uso actual y oferta de tecnologías sostenibles en las cadenas de valor del cacao en Nicaragua para mejorar la seguridad alimentaria. <a href="http://cadenacacaoca.info/estudios-cacao/CEDOC/ficha.php?id=1579&amp;lang=es">Informe nacional | Nicaragua</a>
				</p>
				<p>
					- Oferta de tecnologías de producción de cacao. <a href="http://cadenacacaoca.info/estudios-cacao/CEDOC/ficha.php?id=1567&amp;lang=es">Informe mundial</a>
				</p>
		  	</div>
		</section>
		
		<footer>
			<div class="sponsor">
			
			</div>
		</footer>
	</div>
	



	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>