{% extends "base.html" %}

{% block content %}
<!--begin section-white -->
<section class="section-white-xs">
    
    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-6">
                <div class="titulo-map">
                    <h4>Mapeo de cadena de valor de cacao</h4>
                    <a href="/actores/" class="btn-sm btn-blue btn-map" target="_blank">Actores</a>
                </div>
                <div id="map-canvas" style="width:100%; height:400px"></div>                               
            </div>
            <!--end col-md-6-->
            
            <!--begin col-md-6-->
            <div class="col-md-6">
                
                <div class="tabs">
                    {% load flatpages %}
                        {% get_flatpages as flatpages %}
                            {% for page in flatpages %}
                                {% if page.url == '/informacion-inicio/' %}
                                    <h4>{{page.title}}</h4>
                                    <div class="tab-content text-left" data-tab="1">
                                         {{ page.content|safe}}
                                    </div>
                                {% endif %} 
                            {% endfor %}
                    

                </div>
            </div>    
            <!--end col-md-6-->
        
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-white-->

<!--begin section-grey -->
{% get_flatpages as flatpages %}
    {% for page in flatpages %}
        {% if page.url == '/video-inicio/' and page.content %}
            <section class="section-grey">
                
                <div class="container">

                    <div class="row">
                    
                        <div class="col-md-12">
                            <h4>{{page.title}}</h4>
                            <div class="tab-content text-left" data-tab="1">
                                 {{ page.content|safe}}
                            </div>
                                    
                        </div>
                    
                    </div>

                </div>

            </section>
    {% endif %} 
{% endfor %}
<!--end section-grey-->
{% endblock content %}

{% block extra_js %}
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaguICGAyEp7DdwkG2Z-odTyjLVYMicmg" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/markerclusterer.js"></script>
<script>
var markers = [];
function initialize()
{
    var infowindow = new google.maps.InfoWindow();
    var myLatlng = new google.maps.LatLng(13,-85);
    var myOptions = {
        zoom: 5,
        center: myLatlng,
    }

    var map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);
    var bounds = new google.maps.LatLngBounds();
    var infowindow = new google.maps.InfoWindow();


    $.getJSON("{% url 'obtener-lista' %}", function(data){
        $.each(data, function(i, elemento){
            var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
            bounds.extend(latlng);
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: elemento.nombre,
                // icon: image,
                item: '',
                id: elemento.id
            });
            markers.push(marker);

            // google.maps.event.addListener(marker, 'click', (function(mm, tt) {
            //     return function() {
            //         infowindow.setContent(tt);
            //         infowindow.open(map, mm);
            //     }
            // })(marker, elemento.nombre));

        });
        var markerCluster = new MarkerClusterer(map, markers);

    });

    //map.fitBounds(bounds);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock extra_js %}
 

    
