{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
<div id="carousel-id" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
        <li data-target="#carousel-id" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img  alt="First slide" src="/static/images/banner/1.jpg" width="100%">
<!--             <div class="container">
                <div class="carousel-caption">
                    <h1>Example headline.</h1>
                    <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
            </div> -->
        </div>
        <div class="item">
            <img  alt="Second slide" src="/static/images/banner/2.jpg" width="100%">
        </div>
        <div class="item ">
            <img  alt="Third slide" src="/static/images/banner/3.jpg" width="100%">
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<section class="section-white no-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="panel panel-search">
                   <div class="panel-heading">Búsqueda</div>
                    <div class="panel-body">
                        <form id="contact-form" class="contact form-busca" action="/actores/busqueda/" method="GET">
                            <div class="input-group">
                                {{search.q}}
                                <span class="input-group-btn">
                                    <input value="Buscar" id="submit-button" class="contact-submit" type="submit">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</section>
<section class="section-white small-padding">
        
        <!--begin container-->
        <div class="container">
            
            <!--begin row-->
            <div class="row">
                <!--begin col-md-6-->
                <div class="col-md-6 text-center wow fadeIn" data-wow-delay="0.15s">
                    
                    <h3>Mapeo de cadena de valor de cacao</h3>
                    <div class="mapa-container">
                        <div id="map-canvas" style="width:100%; height:400px"></div>
                    </div>

                </div>
                <!--end col-sm-6-->
                <!--begin col-md-6-->
                <div class="col-md-6">
                    {% load flatpages %}
                        {% get_flatpages as flatpages %}
                            {% for page in flatpages %}
                                {% if page.url == '/informacion-inicio/' %}
                                    <h3>{{page.title}}</h3>
                                    <div class="medium-paragraph margin-bottom-40 text-left">
                                        {{ page.content|safe}}
                                    </div>
                                {% endif %} 
                            {% endfor %}
                </div>
                <!--end col-sm-6-->
                
                
                
            
            </div>
            <!--end row-->
    
        </div>
        <!--end container-->
    
    </section>

<!--begin blog -->
<section class="section-grey">
    
    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row margin-bottom-20">
        
            <!--begin col-md-12-->
            <div class="col-md-10 col-md-offset-1 text-center">
                <h2 class="section-title">Últimas noticias</h2>
            </div>
            <!--end col-md-12-->
        
        </div>
        <!--end row-->
        
        <!--begin row-->
        <div class="row">

            <!--begin col-sm-4 -->
            <div class="col-sm-4">
                
                <!--begin blog-item -->
                <div class="blog-item">
                    
                    <!--begin popup image -->
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="#"><img src="http://cadenacacaoca.info/wp-content/uploads/2018/12/IIFNC_inauguracion.jpg" class="width-100" alt="pic"><span class="eye-wrapper2"><i class="icon icon-link eye-icon"></i></span></a>
                        </div>
                    </div>
                    <!--begin popup image -->
                        
                    <!--begin blog-item_inner -->
                    <div class="blog-item-inner">
                    
                        <h3 class="blog-title"><a href="#">II Foro Nacional de Cacao con actores de cadena de valor del cacao</a></h3>
                        
                        <p>Este 13 y 14 de noviembre de 2018 se lleva a cabo el II Foro Nacional del Cacao con el objetivo de contribuir a la interacción y organización entre los actores de la cadena de valor del cacao, así como a promover su participación en el mercado local e internacional...</p>
                                                                           
                    </div>
                    <!--end blog-item-inner -->
                    
                </div>
                <!--end blog-item -->
                    
            </div>
            <!--end col-sm-4-->
            
            <!--begin col-sm-4 -->
            <div class="col-sm-4">
                
                <!--begin blog-item -->
                <div class="blog-item">
                    
                    <!--begin popup image -->
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="#"><img src="http://cadenacacaoca.info/wp-content/uploads/2017/05/IMG_20170622_134103916_HDR.jpg" class="width-100" alt="pic"><span class="eye-wrapper2"><i class="icon icon-link eye-icon"></i></span></a>
                        </div>
                    </div>
                    <!--begin popup image -->
                        
                    <!--begin blog-item_inner -->
                    <div class="blog-item-inner">
                    
                        <h3 class="blog-title"><a href="#">Conforman comisiòn centroamericana del cacao</a></h3>
                        
                        <p>Granada, Nicaragua, Septiembre 2017.Compartir experiencias entre países, dar y recibir información, profundizando sobre estrategias locales, o bien vacíos que es necesario superar, son parte del proceso de reflexión del Seminario de la Cadena de Valor del Cacao en Centroamérica...</p>

                    </div>
                    <!--end blog-item-inner -->
                    
                </div>
                <!--end blog-item -->
                    
            </div>
            <!--end col-sm-4-->
            
            <!--begin col-sm-4 -->
            <div class="col-sm-4">
                
                <!--begin blog-item -->
                <div class="blog-item">
                    
                    <!--begin popup image -->
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="#"><img src="http://cadenacacaoca.info/wp-content/uploads/2017/05/DSC05787.jpg" class="width-100" alt="pic"><span class="eye-wrapper2"><i class="icon icon-link eye-icon"></i></span></a>
                        </div>
                    </div>
                    <!--begin popup image -->
                        
                    <!--begin blog-item_inner -->
                    <div class="blog-item-inner">
                    
                        <h3 class="blog-title"><a href="#">Intercambio entre productores centroamericanos y República Dominicana</a></h3>
                        
                        <p>Santo Domingo, República Dominicana, Septiembre 2017. El modelo organizativo de actores de la cadena de valor del Cacao en República Dominicana, sirvió de atractivo para que productores de Cacao Centroamericano, realizaran un viaje de intercambio con el propósito de aprender...</p>

                    </div>
                    <!--end blog-item-inner -->
                    
                </div>
                <!--end blog-item -->
                    
            </div>
            <!--end col-sm-4-->
         
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end blog -->    


{% endblock content %}

{% block extra_js %}
<script src="/static/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    $('#id_paises_labora, #id_tipo_organizacion, #id_participacion_cadena, #id_servicios, #id_intercambio, #id_tipo_actividad').selectpicker({
      style: 'btn-default',
      size: 4,
      liveSearch: 'true',
      title: '------'
    });

</script>
<script type="text/javascript">
    
    $( ".bootstrap-select" ).removeClass( "input-group-btn" );
    $( "#id_pais_sede" ).addClass("form-control");
    $( "#id_ambito_accion" ).addClass("form-control");
    $( "#id_tipo" ).addClass("form-control");
    $( ".form-busca #id_q" ).addClass("form-control");
    {% if search_text %}
        $(".form-busca #id_q").val("{{search_text}}");
    {% endif %} 

</script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaguICGAyEp7DdwkG2Z-odTyjLVYMicmg" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/markerclusterer.js"></script>
<script>
var markers = [];
function initialize()
{
    var infowindow = new google.maps.InfoWindow();
    var myLatlng = new google.maps.LatLng(13,-85);
    var myOptions = {
        zoom: 5,
        center: myLatlng,
    }

    var map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);
    var bounds = new google.maps.LatLngBounds();
    var infowindow = new google.maps.InfoWindow();


    $.getJSON("{% url 'obtener-lista' %}", function(data){
        $.each(data, function(i, elemento){
            var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
            bounds.extend(latlng);
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: elemento.nombre,
                // icon: image,
                item: '',
                id: elemento.id
            });
            markers.push(marker);

            // google.maps.event.addListener(marker, 'click', (function(mm, tt) {
            //     return function() {
            //         infowindow.setContent(tt);
            //         infowindow.open(map, mm);
            //     }
            // })(marker, elemento.nombre));

        });
        var markerCluster = new MarkerClusterer(map, markers);

    });

    //map.fitBounds(bounds);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock extra_js %}
 

    
