{% extends "base.html" %}
{% load el_pagination_tags static %}
{% block content %}
</style>
	<section>
		<ol class="breadcrumb">
			<li class="active">Perfil de usuario</li>
		</ol>
	</section>
	<section class="section-grey small-padding">

        <!--begin container-->
        <div class="container ">


        	<div class="row">
        		<div class="col-xs-12 col-sm-12 col-md-5">
        			<div class="panel panel-perfil ">
		        		<div class="panel-heading">
		                    <ul class="list-inline">
			                    <li>
			                        <a class="btn btn-danger" href="/accounts/profile/crear/">Crear Organización</a>
			                    </li>
				        	</ul>

		                </div>
		        		<div class="panel-body no-padding">
		        			<ul class="list-group margin-bottom-0">
		                        <li class="list-group-item">
		                            <span><b> Nombre de usuario:</b> {{user.username}}</span>

		                        </li>
		                        <li class="list-group-item">
		                            <span><b> Nombre:</b> {% if user.first_name %}{{user.first_name}}{% else %}---{% endif %}</span>
		                        </li>
		                        <li class="list-group-item">
		                            <span><b> Apellido:</b> {% if user.last_name %}{{user.last_name}}{% else %}---{% endif %}</span>
		                        </li>
		                        <li class="list-group-item">
		                            <span><b> Correo:</b> {{user.email}} </span>
		                        </li>
                                 <li class="list-group-item">
                                    <span class=""><a href="/accounts/profile/user/editar">Editar perfil</a> </span>
                                    <span class="pull-right"><a href="/accounts/password/reset/">Resetear contraseña</a> </span>
                                </li>
		                    </ul>
		        		</div>
		        	</div>
        		</div>
        		<div class="col-xs-12 col-sm-12 col-md-7">

        			{% if organizaciones %}
        			<div class="panel panel-listorg">
        				<div class="panel-heading">
        					<ul class="list-inline tab-admin" id="myTab" role="tablist">
        						<li class="nav-item">
        							<a class="nav-link active panel-title" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Organizaciones</a>
        						</li>
        						<li class="nav-item">
        							<a class="nav-link panel-title" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Solicitar vinculación</a>
        						</li>
        						<li class="nav-item">
        							<a class="nav-link panel-title" id="profile-tab" data-toggle="tab" href="#profilepermisso" role="tab" aria-controls="profilepermisso" aria-selected="false">Soporte</a>
        						</li>
        					</ul>
        				</div>
        				<div class="panel-body">
        					<div class="tab-content" id="myTabContent">
							  	<div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">

				        				{% paginate 3 organizaciones %}
				        				{% for org in organizaciones %}
				        				<div class="bg-white item-org">
				        					<div class="row">

				        						<div class="col-xs-12 col-sm-6 col-md-6">
				        							<h5 class="m-0">{{org.nombre}}</h5>
				        							<small class=""> <i class="icon-calendar"> </i> Actualización: {{org.actualizado}}</small>
				        						</div>
				        						<div class="col-xs-12 col-sm-6 col-md-6">
				        							<ol class="m-0 list-inline">
										        		<li>
										        			<a class="btn btn-small btn-sm btn-red" href="{% url "detail-org" org.slug %}">Perfil </a>
										        		</li>
										        		<li>
										        			<a class="btn btn-small btn-sm btn-red" href="{% url "editar-org" org.slug %}">Editar</a>
										        		</li>
									                    <li>
									                        <a class="btn btn-small btn-sm btn-red" href="{% url "editar-permisos-user" org.slug %}">Permisos</a>
									                    </li>
										        	</ol>
				        						</div>
				        						<div class="col-xs-12 col-sm-12 col-md-12">
				        							<div class="">
				        								<p><strong> <span class="badge">{{ org.usuario.all.count }}</span> Usuarios  :</strong>{% for users in org.usuario.all%} {{users}}{% if forloop.last%}{%else%},{%endif%}{% endfor %}</p>
				        							</div>
				        						</div>
				        						<!--<div class="col-md-12">
				        							<ol class="breadcrumb pull-right m-0">
										        		<li>
										        			<a  href="{% url "detail-org" org.slug %}">Perfil </a>
										        		</li>
										        		<li>
										        			<a  href="{% url "editar-org" org.slug %}">Editar</a>
										        		</li>
									                    <li>
									                        <a  href="{% url "editar-permisos-user" org.slug %}">Permisos</a>
									                    </li>
										        	</ol>
				        						</div>-->

				        					</div>


				                        </div>
				                       {% endfor %}

				        			<nav class="Page navigation">
							            <ul class="pagination pull-right">
							                <li>
							                    {% show_pages %}
							                </li>
							            </ul>
							        </nav>
							  	</div>
							  	<div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							  		<div class="bg-white p-15">
							  			<form method="POST" id="contact-form">{% csrf_token %}
							  				<div class="row">
							  					<div class="col-md-12 mb-10">
							  						{% if enviado == 1 %}
						                            <div class="alert alert-success" role="alert">Su mensaje ha sido enviado correctamente!!!</div>
						                            {% endif %}
							                        <p>Enviar mensaje al administrador del sistema si desea que su perfil se asocie a una organización/especialista</p>
							                        <p>Adjuntar información básica para el registro de la misma</p>
							  					</div>
							  					<div class="col-md-12 mb-10">
							  						<label for="organizacion">Organización:</label>
					                       			{{form1.cual_org}}
							  					</div>
							  					<div class="col-md-12 mb-10">
							  						<label for="asunto">Asunto:</label>
						                        	{{form1.asunto}}
							  					</div>
							  					<div class="col-md-12">
							  						<input class="btn btn-sm btn-blue" type="submit" name="Enviar" value="Enviar mensaje">
							  					</div>

					                       </div>
					                    </form>
							  		</div>

							  	</div>

		                      	<div class="tab-pane" id="profilepermisso" role="tabpanel" aria-labelledby="profile-tab">

			                        <div class="bg-white p-15">
							  			<form method="POST" action="{% url 'soporte-admin'%}"id="contact-form">{% csrf_token %}
							  				<div class="row">
							  					<div class="col-md-12 mb-10">
                                                    {% if messages %}

                                                        {% for message in messages %}
                                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                                                <div class="alert alert-success" role="alert">Su mensaje ha sido enviado correctamente al administrador!!!</div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
							                        <p>Enviar mensaje al administrador del sistema si tiene algun problema en la plataforma.</p>
							                        <p>Adjuntar información básica para el registro de la misma</p>
							  					</div>

							  					<div class="col-md-12 mb-10">
							  						<label for="asunto">Asunto:</label>
						                        	{{form.mensaje}}
							  					</div>
							  					<div class="col-md-12">
							  						<input class="btn btn-sm btn-blue" type="submit" name="Enviar" value="Enviar mensaje">
							  					</div>
					                       </div>
					                    </form>
							  		</div>
		                      	</div>

							</div>
        				</div>
        			</div>
		        	{% else %}
		        	<form method="POST" id="contact-form">{% csrf_token %}
						{% if enviado == 1 %}
							<div class="alert alert-success" role="alert">Su mensaje ha sido enviado correctamente!!!</div>
							{% endif %}
						<p>Enviar mensaje al administrador del sistema si desea que su perfil se asocie a una organización/especialista</p>
						<p>Adjuntar información básica para el registro de la misma</p>
                        Organizacion: {{form1.cual_org}} <br>
						Asunto: {{form1.asunto}}<br>
						<input type="submit" name="Enviar" value="Enviar mensaje">
					</form>
				{% endif %}


        		</div>

        	</div>

        </div>
    </section>


{% endblock content %}

{% block extra_css %}
 <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
 <link rel="stylesheet" href="/static/css/toastr.min.css">
{% endblock extra_css %}
{% block extra_js %}
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script type="text/javascript">
    $('#id_cual_org').addClass( "form-control" );
    $('#id_asunto').addClass( "form-control" );
    $(document).ready(function() {
        $('#myTab li:first-child a').tab('show') // Select first tab

        $('#id_cual_org').selectpicker({
            style: 'btn-default',
            size: 4,
            liveSearch: 'true',
            title: 'Seleccione',
            selectedTextFormat: 'count',
            countSelectedText: '{0} seleccionados',
        });

    });
    toastr.options = {
	  "closeButton": true,
	  "debug": false,
	  "newestOnTop": false,
	  "progressBar": true,
	  "positionClass": "toast-top-right",
	  "preventDuplicates": false,
	  "onclick": null,
	  "showDuration": "300",
	  "hideDuration": "1000",
	  "timeOut": "5000",
	  "extendedTimeOut": "1000",
	  "showEasing": "swing",
	  "hideEasing": "linear",
	  "showMethod": "fadeIn",
	  "hideMethod": "fadeOut"
	}
    {% if enviado == 1 %}
    	toastr.success('Su mensaje ha sido enviado correctamente!!!', {timeOut: 5000})
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                toastr.success('Su mensaje ha sido enviado correctamente al administrador!!!', {timeOut: 5000})
            {% endif %}
        {% endfor %}

    {% endif %}


</script>
{% endblock extra_js %}
