{% extends "base.html" %}

{% block content %}
	{{user.username}} <a href="/accounts/profile/user/editar">Editar perfil</a> <a href="/password_reset/">Resetear contraseña</a><br>
	{{user.email}} <br>
	{% if user.first_name %}{{user.first_name}} <br>{% endif %}
	{% if user.last_name %}{{user.last_name}} <br>{% endif %}
	{% if organizaciones %}
		{% for org in organizaciones %}
			<p>{{org.nombre}} <a href="{% url "detail-org" org.slug %}">Ver</a> <a href="{% url "editar-org" org.slug %}">Editar</a></p>
		{% endfor %}
	{% else %}
		<form method="POST" id="contact-form">{% csrf_token %}
			{% if enviado == 1 %}
				<div class="text-success">Su mensaje ha sido enviado correctamente!!!</div>
				{% endif %}
			<p>Enviar mensaje al administrador del sistema si desea que su perfil se asocie a una organización o especialista o se cree uno nuevo</p>
			Descripción breve: {{form.mensaje}} <br>
			<input type="submit" name="Enviar" value="Enviar mensaje">
		</form>
	{% endif %}
		
{% endblock content %}