{% extends "base.html" %}

{% block content %}
	<section class="section-white small-padding">
        
        <!--begin container-->
        <div class="container detalle-user">
        	
        	<div class="row">
        		<ol class="breadcrumb">
	        		<li>
	        			<a href="/accounts/profile/user/editar">Editar perfil</a>
	        		</li>
	        		<li>
	        			<a href="/password_reset/">Resetear contraseña</a>
	        		</li>
	        	</ol>
        	</div>
        	<div class="row">
        		<div class="col-xs-12 col-sm-5">
        			<div class="panel panel-primary">
		        		<div class="panel-heading">
		                    <h3 class="panel-title display-inline">Perfil de Usuario</h3>
		                    
		                </div>
		        		<div class="panel-body no-padding">
		        			<ul class="list-group margin-bottom-0">
		                        <li class="list-group-item">
		                            <span><b> Nombre de usuario:</b> {{user.username}}</span>

		                        </li>
		                        <li class="list-group-item">
		                            <span><b> Nombre:</b> {% if user.first_name %}{{user.first_name}}{% else %}---{% endif %}</span>
		                        </li>
		                        <li class="list-group-item">
		                            <span><b> Apellido:</b> {% if user.last_name %}{{user.last_name}}{% else %}---{% endif %}</span>
		                        </li>
		                        <li class="list-group-item">
		                            <span><b> Correo:</b> {{user.email}} </span>
		                        </li>
		                  
		                    </ul>
		        		</div>
		        	</div>
        		</div>
        		<div class="col-xs-12 col-sm-7">
        			{% if organizaciones %}
        			<div class="panel panel-primary">
		        		<div class="panel-heading">
		                    <h3 class="panel-title">Organizaciones</h3>
		                </div>
		        		<div class="panel-body no-padding">
		        			<ul class="list-group margin-bottom-0">
		        				{% for org in organizaciones %}
		        				<li class="list-group-item">
		                            
									<p>	<b>{{org.nombre}} </b><a href="{% url "detail-org" org.slug %}">Perfil </a>| <a href="{% url "editar-org" org.slug %}">Editar</a></p>
		                        </li>
		                       {% endfor %}
		        			</ul>

		        		</div>
		        	</div>
		        	{% else %}
		        	<form method="POST" id="contact-form">{% csrf_token %}
			{% if enviado == 1 %}
				<div class="text-success">Su mensaje ha sido enviado correctamente!!!</div>
				{% endif %}
			<p>Enviar mensaje al administrador del sistema si desea que su perfil se asocie a una organización o especialista o se cree uno nuevo</p>
			Descripción breve: {{form.mensaje}} <br>
			<input type="submit" name="Enviar" value="Enviar mensaje">
		</form>
	{% endif %}


        		</div>

        	</div>
        	
        </div>
    </section>

		
{% endblock content %}