 {% extends "base.html" %}
 {% load thumbnail %}
 {% load ratings %}
  
{% block content %}
<style type="text/css">
.star-ratings ul {
    height: 18.5px !important
}
</style>
      <!--begin section-white -->
    <section class="section-white small-padding">
        
        <!--begin container-->
        <div class="container org-perfil">
            
            <h5 class="border-bottom-black">
               {{object.nombre}}
            </h5>
            <ul class="list-inline lista-perfil">
                                <li class="pull-left">
                                    <a><i class="">Calificación: </i>  <!--<img src="/static/images/cacaoranking.png" alt="" width="150px"> -->{% ratings object %}</a>
                                    
                                    
                                </li>
                                <li class="pull-right">
                                    <a ><i class="icon-calendar"> </i> Actualización: {{object.actualizado}} </a>
                                </li>
                            </ul>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Perfil de organizazión</h3>
                        </div>
                        <div class="panel-body no-padding">
                            <div class="row no-margin">
                                <div class="col-xs-12 col-sm-6 no-padding">
                                    <div class="thumb">
                                        {% thumbnail object.logo "120x120" crop='center' format='PNG' as img %}
                                            <img src="/media/{{img}}" alt="img">
                                        {% empty %}
                                            <img src="http://via.placeholder.com/120x120" alt="img">
                                        {% endthumbnail %}
                                    </div>
                                    <ul class="list-group margin-bottom-0">
                                        <li class="list-group-item">
                                            <i class="icon-pin-map"><b> País sede:</b> {{object.pais_sede}} - <b>Labora:</b> {% for pais in object.paises_labora.all %}{{pais}}{% if not forloop.last %}, {% endif %}{% endfor %}</i>

                                        </li>
                                        <li class="list-group-item">
                                            <i class="icon-pin-map"><b> Ámbito de acción:</b> {{object.ambito_accion}}</i>
                                        </li>
                                        <li class="list-group-item">
                                            <i class="icon-pin-map"><b> Cobertura geográfica:</b> {{object.cobertura}}</i>
                                        </li>
                                  
                                    </ul>
                                </div>

                                <div class="col-xs-12 col-sm-6 no-padding">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d62035.480202143335!2d-87.01821512528458!3d13.644528691889732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x8f6fd1049d86c45f%3A0xb4a883edc1235347!2sTex%C3%ADguat%2C+Honduras!3m2!1d13.649619!2d-87.0218192!5e0!3m2!1ses-419!2ses!4v1507847832150" width="600" height="245" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>


                            </div>
                            
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Objetivo</h3>
                        </div>
                        <div class="panel-body">
                            
                           {{object.objetivo}}
                  
                        </div>
                    </div>
                    {% if fotos %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <h5 class="panel-title">Productos y sevicios</h5>
                        </div>
                        <div class="panel-body ">
                            <div class="row">
                
                                <div id="myCarousel" class="carousel carousel1 slide  margin-bottom-30" data-interval="false">
                                    
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                    
                                        <div class="item active popup-gallery">

                                            {% for foto in fotos|slice:":3" %}
                                            <a href="/media/{{foto.foto}}" title="{{foto.nombre}}" class="col-xs-3 col-sm-4 margin-bottom-20">
                                                {% thumbnail foto.foto "200x200" crop='center' format='PNG' as img %}
                                                    <img src="/media/{{img}}">
                                                {% endthumbnail %}
                                            </a>
                                                
                                            {% endfor %}                                               
                                
                                        </div>
                                        <div class="item popup-gallery">

                                            {% for foto in fotos|slice:"3:6" %}
                                            <a href="/media/{{foto.foto}}" title="{{foto.nombre}}" class="col-xs-4 col-sm-4 margin-bottom-20">
                                                {% thumbnail foto.foto "200x200" crop='center' format='PNG' as img %}
                                                    <img src="/media/{{img}}">
                                                {% endthumbnail %}
                                            </a>
                                                
                                            {% endfor %}
                                        </div>

                                        <div class="item popup-gallery">

                                            {% for foto in fotos|slice:"6:9" %}
                                            <a href="/media/{{foto.foto}}" title="{{foto.nombre}}" class="col-xs-4 col-sm-4 margin-bottom-20">
                                                {% thumbnail foto.foto "200x200" crop='center' format='PNG' as img %}
                                                    <img src="/media/{{img}}">
                                                {% endthumbnail %}
                                            </a>
                                                
                                            {% endfor %}
                                        </div>
                                        
                                    </div>

                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        {% if conteo >= 2 and conteo <= 3 %}
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                        {% endif %}
                                        {% if conteo >= 3 %}
                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                        {% endif %}
                                    </ol>
                                    <!-- Left and right controls 
                                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                      </a>
                                      <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                      </a>-->

                                </div>
                            
                            </div>
                            
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-4">
                    {% if object.contacto_1 %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{object.contacto_1}}</h3>
                        </div>
                        <div class="panel-body no-padding">
                            <ul class="list-group margin-bottom-0">
                                <li class="list-group-item">
                                    <b>Correo:</b> <a href="">{{object.correo_1}} </a> 
                                </li>
                                <li class="list-group-item">
                                    <b>Teléfono: </b><a href="">{{object.telefono_1}} </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if object.contacto_2 %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{object.contacto_2}}</h3>
                        </div>
                        <div class="panel-body no-padding">
                            <ul class="list-group margin-bottom-0">
                                <li class="list-group-item">
                                    <b>Correo:</b> <a href="">{{object.correo_2}} </a> 
                                </li>
                                <li class="list-group-item">
                                    <b>Teléfono: </b><a href="">{{object.telefono_2}} </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Detalles organización</h3>
                        </div>
                        <div class="panel-body no-padding">
                            <ul class="list-group">
                                        <li class="list-group-item">
                                            <b> Tipo de organización:</b> {{object.tipo_organizacion}}
                                        </li>
                                        <li class="list-group-item">
                                            <b> Tipo de actividad:</b> {{object.tipo_actividad}}
                                        </li>
                                        <li class="list-group-item">
                                            <b>Servicios a la cadena de valor:</b> {% for servicio in object.servicios.all %}{{servicio}}{% if not forloop.last %}, {% endif %}{% endfor %}
                                        </li>
                                        <li class="list-group-item">
                                            <b>Período de permanencia:</b> {{object.periodo_permanencia}}
                                        </li>
                                        <li class="list-group-item">
                                            <b>Intercambio de tecnologías: </b> {% for intercambio in object.intercambio.all %}{{intercambio}}{% if not forloop.last %}, {% endif %}{% endfor %}
                                        </li>
                                        {% if object.sitio_web %}
                                        <li class="list-group-item">
                                            <b>URL: </b> <a href="{{object.sitio_web}}">Enlace</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                        </div>
                    </div>
                </div>
            </div>
            <h5>Comentarios</h5>
            <img src="/static/images/disqus.png" alt="" width="100%">

        </div>
        <!--end container-->
    
    </section>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">
        $(document).ready(function() {
            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function(item) {
                        return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
                    }
                }
            });
        });
    </script>  
{% endblock extra_js %}
