{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags static %}

{% block extra_css %}
{% endblock extra_css %}
{% block content %}
<style type="text/css">
    .portfolio-items .portfolio-item{
        height: 428px;
        overflow: hidden;
    }
</style>
	<!--begin breadcrumb-wrapper-->
    <div class="breadcrumb-wrapper">

        <div class="breadcrumb-wrapper-overlay"></div>

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-xs-6 -->
                <div class="col-xs-6">

                    <h2 class="page-title white">Sevicios</h2>

                </div>
                <!--end col-xs-6 -->

                <!--begin col-xs-6 -->
                <div class="col-xs-6 text-right">

                    <ol class="breadcrumb white">
                      <li><a href="index.html" class="white">Inicio</a></li>
                      <li>Sevicios</li>
                    </ol>

                </div>
                <!--end col-xs-6 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </div>
    <!--end breadcrumb-wrapper-->
    <!--begin team -->
    <section class="section-white small-padding">

        <!--begin container-->
        <div class="container">
            <div class="row">

                <!--begin portfolio-items-->
                <div class="portfolio-items" id="grid">
                    {% for obj in organizaciones %}
                        {% if obj.productosservicios_set %}
                            {% for servicio in obj.productosservicios_set.all|slice:":1" %}
                            <!--begin team-item -->
                            <div class="col-md-4 col-sm-4 col-xs-12 team-item-white">

                                <figure class="portfolio-item">
                                    {% thumbnail servicio.foto "308x205" crop='center' format='PNG' as img %}
                                        <img src="/media/{{servicio.foto}}" class="team-img-sm" alt="pic" height="">
                                    {% endthumbnail %}
                                    

                                    <h3>{{servicio.nombre|truncatewords:3}}</h3>
                                    <div class="team-info-white"><p>{{obj.nombre|truncatewords:3}}</p></div>
                                    {% if servicio.descripcion %}
                                        <p class="text-left">{{servicio.descripcion|truncatechars:100}}</p>
                                    {% else %}
                                        <p class="text-left">No tiene descripción</p>
                                    {% endif %}

                                    <a href="{% url "detail-org" obj.slug %}#servicios" class="btn-sm btn-blue" target="_blank">Ver más servicios</a>

                                </figure>

                            </div>
                            <!--end team-item -->
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                </div>
                <!--begin sorting-items-->

            </div>
            <!--end row-->

        </div>
        <!--end container-->

    </section>
    <!--end team-->


{% endblock content %}

{% block extra_js %}
    <script src="/static/js/jquery.shuffle.min.js"></script>
    <script src="/static/js/filter-shuffle.js"></script>

{% endblock extra_js %}
