{% extends "base.html" %}

{% load el_pagination_tags static %}

{% block extra_css %}
{% endblock extra_css %}
{% block content %}
	<!--begin breadcrumb-wrapper-->
    <div class="breadcrumb-wrapper">

        <div class="breadcrumb-wrapper-overlay"></div>

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-xs-6 -->
                <div class="col-xs-6">

                    <h2 class="page-title white">Sevicios</h2>

                </div>
                <!--end col-xs-6 -->

                <!--begin col-xs-6 -->
                <div class="col-xs-6 text-right">

                    <ol class="breadcrumb white">
                      <li><a href="index.html" class="white">Inicio</a></li>
                      <li>Sevicios</li>
                    </ol>

                </div>
                <!--end col-xs-6 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </div>
    <!--end breadcrumb-wrapper-->
    <!--begin team -->
    <section class="section-white small-padding">

        <!--begin container-->
        <div class="container">
            <div class="row">
                {% paginate 9 organizaciones %}
                <!--begin portfolio-items-->
                <div class="portfolio-items" id="grid">
                    {% for obj in organizaciones %}
                        {% if obj.productosservicios_set %}
                            {% for servicio in obj.productosservicios_set.all|slice:":1" %}
                            <!--begin team-item -->
                            <div class="col-md-4 col-sm-4 col-xs-12 team-item-white">

                                <figure class="portfolio-item">

                                    <img src="https://www.directoriocacao.info/media/productos-servicios/7.jpeg" class="team-img-sm" alt="pic">

                                    <h3>{{servicio.nombre}}</h3>
                                    <div class="team-info-white"><p>{{obj.nombre}}</p></div>
                                    {% if servicio.descripcion %}
                                        <p class="text-left">{{servicio.descripcion}}</p>
                                    {% else %}
                                        <p class="text-left">No tiene descripción</p>
                                    {% endif %}

                                    <a href="{% url "detail-org" obj.slug %}#servicios" class="btn-sm btn-blue" target="_blank">Ver más servicios</a>

                                </figure>

                            </div>
                            <!--end team-item -->
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                </div>
                <!--begin sorting-items-->
                <nav class="Page navigation">
                    <ul class="pagination pull-right">
                        <li>
                            {% show_pages %}
                        </li>
                    </ul>
                </nav>

            </div>
            <!--end row-->

        </div>
        <!--end container-->

    </section>
    <!--end team-->


{% endblock content %}

{% block extra_js %}
    <script src="/static/js/jquery.shuffle.min.js"></script>
    <script src="/static/js/filter-shuffle.js"></script>

{% endblock extra_js %}
