{% extends "base.html" %}

{% block extra_css %}
{% endblock extra_css %}
{% block content %}
	<!--begin breadcrumb-wrapper-->
    <div class="breadcrumb-wrapper">

        <div class="breadcrumb-wrapper-overlay"></div>
    
        <!--begin container -->
        <div class="container">
            
            <!--begin row -->
            <div class="row">
                  
                <!--begin col-xs-6 -->
                <div class="col-xs-6">
                
                    <h2 class="page-title white">Sevicios</h2>
                    
                </div>
                <!--end col-xs-6 -->

                <!--begin col-xs-6 -->
                <div class="col-xs-6 text-right">
                
                    <ol class="breadcrumb white">
                      <li><a href="index.html" class="white">Inicio</a></li>
                      <li>Sevicios</li>
                    </ol>

                </div>
                <!--end col-xs-6 -->

            </div>
            <!--end row -->
            
        </div>
        <!--end container -->
        
    </div>
    <!--end breadcrumb-wrapper-->
    <!--begin team -->
    <section class="section-white small-padding">
        
        <!--begin container-->
        <div class="container">
            <div class="row">

                <!--begin portfolio-items-->
                <div class="portfolio-items" id="grid">
          
                    <!--begin team-item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 team-item-white">

                        <figure class="portfolio-item">
                    
                            <img src="http://placehold.it/660x660" class="team-img-sm" alt="pic">
                           
                            <h3>Nombre del organizacion</h3>
                            
                            

                            <p class="text-left">Pellentesque etsum is laoret mauris, dapibis etim etsum, vivamus eti nibh ligula saepe present. 
                            Quis netsi etsa lorem nibh ligula.</p>
                            <a href="/detalle-servicios/" class="btn-sm btn-blue" target="_blank">Ver más servicios</a>           

                        </figure>    
                        
                    </div>
                    <!--end team-item -->
                    <!--begin team-item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 team-item-white">

                        <figure class="portfolio-item">
                    
                            <img src="http://placehold.it/660x660" class="team-img-sm" alt="pic">
                           
                            <h3>Nombre del organizacion</h3>
                            
                            

                            <p class="text-left">Pellentesque etsum is laoret mauris, dapibis etim etsum, vivamus eti nibh ligula saepe present. 
                            Quis netsi etsa lorem nibh ligula.</p>
                            <a href="/detalle-servicios/" class="btn-sm btn-blue" target="_blank">Ver más servicios</a>           

                        </figure>    
                        
                    </div>
                    <!--end team-item -->
                    <!--begin team-item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 team-item-white">

                        <figure class="portfolio-item">
                    
                            <img src="http://placehold.it/660x660" class="team-img-sm" alt="pic">
                           
                            <h3>Nombre del organizacion</h3>
                            
                            

                            <p class="text-left">Pellentesque etsum is laoret mauris, dapibis etim etsum, vivamus eti nibh ligula saepe present. 
                            Quis netsi etsa lorem nibh ligula.</p>
                            <a href="/detalle-servicios/" class="btn-sm btn-blue" target="_blank">Ver más servicios</a>           

                        </figure>    
                        
                    </div>
                    <!--end team-item -->
                    <!--begin team-item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 team-item-white">

                        <figure class="portfolio-item">
                    
                            <img src="http://placehold.it/660x660" class="team-img-sm" alt="pic">
                           
                            <h3>Nombre del organizacion</h3>
                            
                            

                            <p class="text-left">Pellentesque etsum is laoret mauris, dapibis etim etsum, vivamus eti nibh ligula saepe present. 
                            Quis netsi etsa lorem nibh ligula.</p>
                            <a href="/detalle-servicios/" class="btn-sm btn-blue" target="_blank">Ver más servicios</a>           

                        </figure>    
                        
                    </div>
                    <!--end team-item -->
                    <!--begin team-item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 team-item-white">

                        <figure class="portfolio-item">
                    
                            <img src="http://placehold.it/660x660" class="team-img-sm" alt="pic">
                           
                            <h3>Nombre del organizacion</h3>
                            
                            

                            <p class="text-left">Pellentesque etsum is laoret mauris, dapibis etim etsum, vivamus eti nibh ligula saepe present. 
                            Quis netsi etsa lorem nibh ligula.</p>
                            <a href="/detalle-servicios/" class="btn-sm btn-blue" target="_blank">Ver más servicios</a>           

                        </figure>    
                        
                    </div>
                    <!--end team-item -->
                    <!--begin team-item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 team-item-white">

                        <figure class="portfolio-item">
                    
                            <img src="http://placehold.it/660x660" class="team-img-sm" alt="pic">
                           
                            <h3>Nombre del organizacion</h3>
                            
                            

                            <p class="text-left">Pellentesque etsum is laoret mauris, dapibis etim etsum, vivamus eti nibh ligula saepe present. 
                            Quis netsi etsa lorem nibh ligula.</p>
                            <a href="/detalle-servicios/" class="btn-sm btn-blue" target="_blank">Ver más servicios</a>           

                        </figure>    
                        
                    </div>
                    <!--end team-item -->
                </div>
                <!--begin sorting-items-->    
            
            </div>
            <!--end row-->
        
        </div>
        <!--end container-->
        
    </section>
    <!--end team-->


{% endblock content %}

{% block extra_js %}
    <script src="/static/js/jquery.shuffle.min.js"></script>
    <script src="/static/js/filter-shuffle.js"></script>

{% endblock extra_js %}
