
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="../../assets/img/icons/foundation-favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation-emails/2.2.1/foundation-emails.min.css" rel="stylesheet">
    <title>Directorio de cacao</title>
  </head>
    <body>
      <span class="preheader"></span>
<style type="text/css">
.headerfirst {
  background: #7e381b;
}
.headerfirst .columnsfirst {
  padding-bottom: 0;
}
.headerfirst .wrapper-inner-first {
  padding: 20px; /*controls the height of the header*/
}
.headerfirst .container-first {
  background: #7e381b;
}

.header {
  background: #FFF;
}
.header .columns {
  padding-bottom: 0;
}
.header p {
  color: #000;
  margin-bottom: 0;
}
.header .wrapper-inner {
  padding: 20px; /*controls the height of the header*/
}
.header .container {
  background: #FFF;
}

.wrapper.secondary {
  background: #f3f3f3;
}
</style>
<table bgcolor="#7e381b" class="wrapper headerfirst float-center">
  <tr>
    <td class="wrapper-inner-first">
      <table align="center" class="container-first">
        <tbody>
          <tr>
            <td>
              <table class="row collapse">
                <tbody>
                  <tr>
                    <th class="small-6 large-6 columnsfirst" valign="middle">
                      <table>
                      </table>
                    </th>
                    <th class="small-6 large-6 columnsfirst" valign="middle">
                      <table>
                        <tr>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<table align="center" bgcolor="#FFF" class="wrapper header float-center">
  <tr>
    <td class="wrapper-inner">
      <table align="center" class="container">
        <tbody>
          <tr>
            <td>
              <table class="row collapse">
                <tbody>
                  <tr>
                    <th class="small-6 large-6 columns first" valign="middle">
                      <table>
                        <tr>
                          <th><img src="https://www.directoriocacao.info/static/images/logo.png" width="106" height="80"></th>
                        </tr>
                      </table>
                    </th>
                    <th class="small-6 large-6 columns last color" valign="middle">
                      <table>
                        <tr>
                          <th>
                            <p class="text-right">DIRECTORIO CACAO</p>
                          </th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<table align="center" class="container float-center">
  <tbody>
    <tr>
      <td>
        <table class="spacer">
          <tbody>
            <tr>
              <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
            </tr>
          </tbody>
        </table>
        <table class="row">
          <tbody>
            <tr>
              <th class="small-12 large-12 columns first last">
                <table>
                  <tr>
                    <th>
                      <h1>Hola, el usuario {{user.get_full_name}}</h1>
                      <p class="lead">Le mando el siguiente mensaje con el asunto: {{subject}}</p>
                      <p>{{content}}</p>
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>
              </th>
            </tr>
          </tbody>
        </table>
        <table align="center" class="wrapper secondary">
          <tr>
            <td class="wrapper-inner">
              <table class="spacer">
                <tbody>
                  <tr>
                    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                  </tr>
                </tbody>
              </table>
              <table class="row">
                <tbody>
                  <tr>
                    <th class="small-12 large-6 columns first">
                      <table>
                        <tr>
                          <th>
                            <h5>Conecte con nosotros:</h5>
                            <table class="menu vertical">
                              <tr>
                                <td>
                                  <table>
                                    <tr>
                                      <th class="menu-item float-center" style="text-align: left;">
                                        <a href="https://www.flickr.com/photos/rikolto/">Flickr</a>
                                      </th>
                                      <th class="menu-item float-center" style="text-align: left;">
                                        <a href="https://www.facebook.com/Rikolto/">Facebook</a>
                                      </th>
                                      <th class="menu-item float-center" style="text-align: left;">
                                        <a href="https://www.youtube.com/channel/UCoCJqwCoQx9ZfT9mFbdfBhQ">Youtube</a>
                                      </th>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </th>
                    <th class="small-12 large-6 columns last">
                      <table>
                        <tr>
                          <th>
                            <h5>Contactenos:</h5>
                            <p>Teléfono: 505-341-0600</p>
                            <p>Email: <a href="mailto:contact@get.foundation">quecorreo@rikolto.org</a></p>
                          </th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>

    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>
