<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Directorio de CACAO</title>
<style type="text/css">
  body {
    margin: 0;
    background-color: #cccccc;
  }
  table {
    border-spacing: 0;
  }
  td {
    padding: 0;
  }
  img {
    border: 0;
  }
  .wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #cccccc;
    padding-bottom: 40px;
  }
  .main {
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    color: #4a4a4a;
  }
  a {
    text-decoration: none;
    color: #4980d2;
  }

  @media screen and (max-width: 600px) {

  }
</style>
</head>
<body>

<center class="wrapper">
  <table class="main" width="100%">


<!-- SOCIAL MEDIA ICONS -->
    <tr>
      <td>
        <table width="100%">
         <tr>
           <td style="background-color: #7e381b;padding: 8px 0px 5px; text-align: center; color:#ffffff; font-size: 13px;">

             <h2>Directorio Regional de Actores de Cadena de Valor de Cacao</h2>

           </td>
         </tr>
        </table>
      </td>
    </tr>
<!-- LOGO SECTION -->
  <tr>
    <td>
      <table width="100%">
        <tr>
          <td style="text-align: center;padding: 10px;">
            <a href="https://www.directoriocacao.info/"><img src="https://www.directoriocacao.info/static/images/logo.png" alt="web directorio cacao" width="180" title="web directorio cacao"></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<!-- BLUE BORDER -->
  <tr>
    <td height="5" style="background-color: #0f823f;"></td>
  </tr>
<!-- TITLE, TEXT & BUTTON -->
  <tr>
    <td>
      <table width="100%">
        <tr>
          <td style="text-align: center; padding: 15px;">

            <p style="font-size: 19px; font-weight:bold">
              Hola, el usuario
              <strong style="color: #7e381b;">
                {{user.get_full_name}}
              </strong>
            </p>
            <p style="font-size: 16px; font-weight:bold">
            de la Organización:
            {% for obj in user.organizacion_set.all %}
              <strong style="color:#0f823f;">
                {{obj.nombre}}
              </strong>
            {% endfor %}
            </p>
            <p style="font-size: 16px;">
              Le mando el siguiente mensaje con el asunto: <strong style="color: #f47521;">{{subject}}</strong>
            </p>
            <p style="font-size: 15px; line-height: 23px; padding-bottom: 6px;">{{content|safe}}</p>

          </td>
        </tr>
      </table>
    </td>
  </tr>
<!-- BLUE BORDER -->
<tr>
  <td height="5" style="background-color: #fff;"></td>
</tr>

<!-- FOOTER SECTION -->
  <tr>
    <td style="background-color: #efefef;">
      <table width="100%">

        <tr>
          <td style="padding: 30px 10px; text-align:center;">
            <p>CONTACTENOS</p>
            <p><a href="mailto:vecomesoamerica@gmail.com">vecomesoamerica@gmail.com</a></p>
            <p><a href="tel:505-2278-3775">505-2278-3775</a></p>
            <p>ó</p>
            <p>CONECTE CON NOSOTROS</p>
            <p><a href="https://www.flickr.com/photos/rikolto/">Flickr</a></p>
            <p><a href="https://www.facebook.com/Rikolto/">Facebook</a></p>
            <p><a href="https://www.youtube.com/channel/UCoCJqwCoQx9ZfT9mFbdfBhQ">Youtube</a></p>

          </td>
        </tr>

      </table>
    </td>
  </tr>
<!-- BLUE BORDER -->
<tr>
  <td height="10" style="background-color: #0f823f;"></td>
</tr>
  </table>
</center>

</body>
</html>
